title {{dato.AOBJ_Datos_Usuario[0].Nombre_Usuario}}| Consultar usuarios
link(rel="stylesheet" href!="<?php echo URL;?>public/css/Templates/Administracion/Consultar_Usuarios/Consultar_Usuarios.css")
section#SC_Consultar_Usuarios()
	#CONT_Contenedor_Invisible_Header
	#CONT_Consultar_Usuarios(ng-controller="Controlador_Consultar_Usuarios")

		.Grid_Item.Base-100
			.CL_Alerta_5.Grid_Contenedor.Base-90.Padding-10.main_end.cross_end(ng-init="BL_Edicion_Datos_Cuentas = false")
				p.Grid_Item.Base-50 Consultar usuarios
				.Grid_Item.Base-15
					.Btn_Estilo_5.icon-list-1(ng-init="Listar_Usuarios()",ng-click="Listar_Usuarios()") Listar usuarios
				

		.Grid_Contenedor.Base-100.abcenter
			.Tabla_Estilo_3.relative.Grid_Item.Base-95
						table
							thead
								tr
									th.Imagen 
									th Codigo
									//- th Nombre
									//- th Segundo Nombre
									//- th Apellido
									//- th Segundo Apellido
									//- th Edad									
									th Usuario
									th Correo 
									//- th Telefono
									//- th Municipio
									//- th Direcci&oacute;n
									//- th Fecha nacimiento
									th Tipo cliente
									th Disponibilidad
									th Estado cuenta
									th


							tbody
								tr(ng-repeat="Item in AOBJ_Lista_Usuarios_Registrados ")
									td.Imagen.CL_Imagen.relative
										img(ng-src="{{Item.Imagen_Usuario}}")
										//- img(src="http://localhost/Allop/Allop_Aplicacion_Sena/public/img/avatars/avatar1_big.png")

										span.Estado_Usuario(ng-class="{Activo: Item.Disponibilidad == 'Activo', Inactivo: Item.Disponibilidad == 'Inactivo'}" title="Estado actual de tu cuenta")
											p
									td {{Item.PK_ID_Usuario}}
									td {{Item.Nombre_Usuario}}
									td {{Item.Correo_Electronico}}
									td(ng-show="Item.FK_ID_Rol == 2") Empleado
									td(ng-show="Item.FK_ID_Rol == 3") Cliente
									td(ng-show="Item.FK_ID_Rol == 1") Administrador
									td
										
										select.Select_1.Base-70.Grid_Item(ng-model="Item.Disponibilidad"  ng-disabled="BL_Edicion_Datos_Cuentas == false")
											option(value="Activo") Activo
											option(value="Inactivo") Inactivo
									td
										bottom.Btn_Estilo_1(type="Presiona para cancelar la cuenta",ng-disabled="BL_Edicion_Datos_Cuentas == false",ng-click="FN_Inhabilitar_Estado_Cuenta_Usuario($index)",ng-class="{Invisible:Item.Estado_Cuenta == 'Cancelada', Visible: Item.Estado_Cuenta == 'En uso'}") En uso
										bottom.Btn_Estilo_2(type="Presiona para habilitar la cuenta",ng-disabled="BL_Edicion_Datos_Cuentas == false",ng-click="FN_Habilitar_Estado_Cuenta_Usuario($index)",ng-class="{Invisible:Item.Estado_Cuenta == 'En uso', Visible: Item.Estado_Cuenta == 'Cancelada'}") Cancelada
									td.CL_Tbl_Icon
										.icon-actualizar.CL_TXT_Pri_Btn.relative(ng-class="{Invisible:BL_Edicion_Datos_Cuentas == false, Visible: BL_Edicion_Datos_Cuentas == true}" ng-click="BL_Edicion_Datos_Cuentas =!BL_Edicion_Datos_Cuentas; FN_Modificar_Datos($index)")
											span.CL_TXT_Info_Btn Actualizar
										.icon-lapiz.CL_TXT_Pri_Btn.relative(ng-class="{Invisible:BL_Edicion_Datos_Cuentas == true, Visible: BL_Edicion_Datos_Cuentas == false}" ng-click="BL_Edicion_Datos_Cuentas =!BL_Edicion_Datos_Cuentas")
											span.CL_TXT_Info_Btn Editar



