//scss para guardar los mixin que contendran las partes de la pagina
@mixin ContenidoPagina() {
    /*CSS IMPORTADO DESDE MIXIN CONTENIDOPAGINA*/
    //contendio de la pagina web
    #CONT_Btn_Pasar_Pagina {
        height: 70px;
        text-align: center;
        color: $Color_6;
        display: flex;
        align-items: center;
        justify-content: center;

        & a
        {
            padding-top: 23px;
        }
    }
    .CL_Arrow:before {
        cursor: pointer;
        color: $Color_3;
        text-decoration: none;
        font-size: 35px;
        line-height: 0;
    }
    #CONT_Contenido {
        background: $Color_6;
        height: auto;
        padding: 10px 0 30px;
    }
    .CL_TXT_Titulo_Pagina {
        @include Text_nav1(30px,$Color_3,600,center);
        line-height: 0;
        margin-left: 1%;
    }
    /*css para los contenedores que se crean al agregarlos a la orden*/
    #CONT_Productos {
        height: 1040px;
        margin: auto;
        opacity: 1;
        margin-top: 10px;
        padding: 40px 10px;
        width: 95%;
        background-color: $Color_16;
        /*incluio*/
        @include MX_Box-Sizing(border-box);
        @include MX_Box_Shadow(0px, 0px, 2px, 0px,rgba(0,0,0,3/10));
        /*Flex estilos*/
        display: flex;
        justify-content:space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: colum;
        overflow: auto;
        & ::-webkit-scrollbar {
            display: block;
        }
        & .CL_COTN_Producto:nth-child(1)
            {
            width: 100%;
            height: 300px;
            background: $Color_6;
            padding: 29px 28px;
            margin-bottom: 50px;
            flex-wrap: nowrap;

            & .CL_CONT_Imagen {
                width: 50%;

            }
        }

        & .CL_COTN_Producto:nth-child(-n+3):nth-child(1n):nth-child(+n+2)
            {
            width: 43%;
            margin-right: 3px;
            background: $Color_6;
            margin-bottom: 50px;

            & .CL_ValoracionProducto
            {
                flex-wrap: wrap;
                align-items: center;

                & .CL_ContOpiniones
                {
                    width: 100%;
                }
            }
            & .CL_HerramientasProducto
            {
                flex-wrap: wrap;
                align-items: center;
                flex-direction: row-reverse;

                & .CL_TotalProducto
                {
                    width: 100%;
                }
                & .CL_Opciones_Herramienta
                {
                    width: 100%;
                }
            }
        }
        & .CL_COTN_Producto:nth-child(4)
            {
            width: 100%;
            height: 300px;
            background: $Color_6;
            padding: 29px 28px;
            margin-bottom: 50px;
            flex-wrap: nowrap;

            & .CL_CONT_Imagen {
                width: 50%;

            }
        }
        & .CL_COTN_Producto:nth-child(+n+5):nth-child(1n):nth-child(-n+9)
            {
            width: 49%;
            margin-bottom: 50px;

            & .CL_ValoracionProducto
            {

                & .CL_ContOpiniones
                {
                    width: 65%;
                }
            }
            & .CL_HerramientasProducto
            {

                & .CL_Opciones_Herramienta
                {
                    width: 55%;
                }
            }
        }

        & .CL_COTN_Producto:nth-child(+n+10):nth-child(1n):nth-child(-n+12)
            {
            width: 45%;
            margin-bottom: 50px;

            & .CL_ValoracionProducto
            {
                flex-wrap: wrap;
                align-items: center;

                & .CL_ContOpiniones
                {
                    width: 100%;
                }
            }
            & .CL_HerramientasProducto
            {
                flex-wrap: wrap;
                align-items: center;

                & .CL_TotalProducto
                {
                    width: 100%;
                }
                & .CL_Opciones_Herramienta
                {
                    width: 100%;
                }
            }
        }
        & .CL_COTN_Producto:nth-child(10)
            {
            width: 40% !important;
        }
        & .CL_COTN_Producto:nth-child(+n+13):nth-child(1n):nth-child(-n+16)
            {
            width: 45%;
            margin-bottom: 50px;

            & .CL_ValoracionProducto
            {

                & .CL_ContOpiniones
                {
                    width: 65%;
                }
            }
            & .CL_HerramientasProducto
            {

                & .CL_Opciones_Herramienta
                {
                    width: 55%;
                }
            }
        }
    }
    .CL_COTN_Producto {
        border-bottom: solid 1px $Color_2;
        margin-bottom: 30px;
        padding: 40px 10px;
        height: auto;
        width: 100%;
        background-color: $Color_6;
        font-size: 14px;
        /*Flex estilos*/
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        align-items: center;
        position: relative;
        overflow: hidden;
        /*Incluido*/
        @include MX_Animacion_Normal(0.3, ease, 0.3);
        @include MX_Box-Sizing(border-box);
        @include MX_Box_Shadow(0px, 0px, 2px, 0px,rgba(0,0,0,4/10));
    }
    .CL_Producto_Agregado,.CL_Producto_No_Agregado
    {
        &:before
            {
            content: "s";
            font-family: allop;
            position: absolute;
            top: 0px;
            left: 0px;
            color: $Color_6;
            font-size: 32px;
            background-color: $Color_10;
            padding: 37px 0px;
            width: 69px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;
            @include MX_Box-Sizing(border-box);
            @include MX_Box_Shadow(0px, 0px, 2px, 0px,rgba(0,0,0,4/10));
            @include MX_Animacion_Normal(0.3, ease, 0.3);
            animation: 0.5s Agregado ease;
            opacity: 1;


            @keyframes Agregado {
                0% { transition-timing-function: ease-in; opacity: 0;top: -300px;}
                100% { transition-timing-function: ease-in; opacity: 1;top: 0px; overflow: hidden}
            }

        }
    }
    .CL_Producto_No_Agregado
    {
        &:before
            {
            @include MX_Animacion_Normal(0.3, ease, 0.3);

            animation: 0.5s Removido ease;
            opacity: 0;
            top: -300px;


            @keyframes Removido {
                0% { transition-timing-function: ease-in; opacity: 1;top: 0px;}
                100% { transition-timing-function: ease-in; opacity: 0;top: -300px; overflow: hidden}
            }
        }
    }
    #Cont_Noencontrado {
        /*incluido*/
        @include MX_Animacion_Normal(0.3, ease, 0.3);
    }
    .CONT_Informacion {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 2px;
        padding: 10px 0;
    }
    .CL_CONT_Imagen {
        width: 100%;
        height: 100%;
        padding: 9px;
        @include MX_Box-Sizing(border-box);
    }
    .CL_CONT_Imagen img {
        cursor: pointer;
        max-width: 100%;
        height: 100%;
    }
    .CONT_Info_Producto {
        width: 100%;
        padding: 1px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Incluido*/
        @include MX_Box-Sizing(border-box);
    }
    .CL_Nombre_Producto {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    p.CL_TXT_Nombre {
        margin: 0;
        /*Incluido*/
        @include Texto_Estilo_1(22px,$Color_12,100,left);
    }
    .CL_Precio {
        font-size: 25px;
        background: $Color_10;
        padding: 3px 15px;
        @include Texto_Estilo_1(20px,$Color_6,100,center);
        @include MX_Box-Sizing(border-box);
        & p {
            margin: 0;
        }
    }
    .CONT_Valoracion_Producto {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 10px 0;
        & .CL_CONT_Opiniones {
            width: 50%;
            border: solid 1px $Color_2;
            /*Flex estilos*/
            display: flex;
            flex-direction: column;
            & div {
                padding: 13px 10px;
                @include MX_Box-Sizing(border-box);
            }
        }
        & .CL_Datos_Valoracion {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 13px;
            margin: 3px;
            & span {
                margin: 2px;
                color: $Color_18;
            }
        }
        & .CL_Descripcion_Producto {
            width: 60%;
            @include Texto_Estilo_1(15px,$Color_8,100,left);
        }
    }
    .CL_Herramientas_Producto {
        border-top: solid 1px $Color_2;
        padding-top: 15px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .CL_Opciones_Herramienta {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 75%;
        & .CL_CONT_Agregar {
            width: 100%;
            @include MX_Box-Sizing(border-box);
            /*Flex estilos*/
            display: flex;
            flex-direction: column;
            & div {
                padding: 11px 10px;
            }
        }
    }
    .CL_Cantidad_Productos {
        width: 100%;
        padding: 1px 25px;
        border-right: solid 1px $Color_2;
        /*Incluido*/
        @include MX_Box-Sizing(border-box);
        & #ID_Input_Cantidad {
            padding: 7px 7px 7px 10px;
            width: 60%;
            @include MX_Box-Sizing(border-box);
            @include Text_nav1(16px,$Color_3,600,left);
        }
    }
    .CL_Total_Producto {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Incluido*/
        @include Text_nav1(16px,$Color_12,100,left);
        @include MX_Box-Sizing(border-box);
    }
    .CL_CONT_Datos {
        height: auto;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        & p {
            margin: 0 2px;
            width: 50%;
            padding: 3px;
            color: $Color_12;
            @include MX_Box-Sizing(border-box);
        }
    }
    .CL_Total_Input {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        padding: 5px;
        margin-left: 3px;
        background-color:  transparent;
        border: solid 1px transparent;
        color: $Color_11;
        width: 50%;
        @include MX_Box-Sizing(border-box);
    }
    .CL_CONT_Botones {
        width: 100%;
        height: auto;
        padding: 10px;
        /*Flex estilos*/
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #CONT_Filtro_Producto {
        background-color: $Color_6;
        width: 100%;
        height: auto;
        position: relative;
        padding: 6px;
        /*Flex estilos*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /*Incluido*/
        @include MX_Box-Sizing(border-box);
        @include MX_Box_Shadow(0px, 0px, 3px, 0px,rgba(0,0,0,3/10));
        & .CL_Contenedor_Buscador {
            width: 40%;
        }
    }

    #CONT_No_Encontrado {
        width: 100%;
        height: auto;
        background-color: $Color_6;
        padding: 10px;
        /*Flex estilos*/
        display: flex;
        align-items: center;
        justify-content: center;
        /*Incluido*/
        @include MX_Box-Sizing(border-box);
        &:hover {
            opacity: 0.8;
        }
        &.IconoNoResult,
        & .TextoNoResult {
            height: auto;
            width: 35%;
            height: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            /*Incluido*/
            @include MX_Box-Sizing(border-box);
            & p {
                font-size: 25px;
                height: 100%;
                color: $Color_12;
                margin: 0;
            }
        }
        &.TextoNoResult {
            p {
                height: 100%;
                font-weight: bold;
                margin: 0;
                border-bottom: solid 1px $Color_11;
                @include Texto_Btn_1(15px,$Color_2);
            }
        }
    }
}




//Slider
@mixin MX_Estilos_Slider() {
    #SC_Slider {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include MX_Animacion_Normal(0.3, ease, 0.3);

        &.ng-hide-add {
            animation: 0.5s Ng_show_Incial_4 ease;
        }
        /* when showing the picture */
        &.ng-hide-remove {
            animation: 0.5s Ng_show_Final_4 ease;
        }
    }
    #CONT_Imagenes_Slider,
    #CONT_Silder {
        display: block;
        height: 100%;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #CONT_PRINCIPAL {
        display: block;
        height: 110%;
        position: relative;
        width: 100%;
    }
    #CONT_Silder {
        background-color: $Color_3;
    }
    #CONT_Imagenes {
        height: 100%;
        width: 100%;
    }
    #CONT_Imagenes li {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    #CONT_Imagenes img.IMGaleria {
        height: 100%;
        position: relative;
        width: 100%;
    }
    #CONT_Arrow {
        width: 100%;
        z-index: 1;
        height: 20%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-color:$Color_6;

    }
    .CL_Contenedor_Info {
        color: $Color_6;
        height: 50%;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 5%;
        box-sizing: border-box;
    }
    .CL_Cabezera_Slider {
        background: transparent;
        padding: 20px 0;
        width: 100%;
        position: relative;
        display: block;
    }
    .CL_Cabezera_Slider img {
        display: block;
        height: 80px;
        margin: auto;
        position: relative;
        width: 80px;
        top: 55px;
    }
    .CL_Info_Slider {
        background: transparent;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .CL_TXT_Nombre_Producto {
        //border-bottom: solid 1px $Color_Morado;
        //border-top: solid 1px $Color_Morado;
        @include Text_Bold(90px,$Color_6,left);
        height: auto;
        letter-spacing: 5px;
        line-height: 1.2;
        padding-top: 4px;
        position: relative;
        top: 15px;
        margin: 0;
        width: 90%;
    }
    .CL_Info_Slider .Btn_Estilo_1 {
        margin: 0;
    }
    .CL_TXT_Descripcion {
        cursor: pointer;
        font-size: 15px;
        text-align: left;
        text-transform: capitalize;
        text-decoration: none;
        font-family: arial;
        color:$Color_6;
        padding: 22px 14px;
        font-weight: bold;
        width: 62%;
    }
    .CL_Btns_Slider
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        margin: 0px;
        padding: 0px;
        & a
        {
            padding: 10px 10px;
        }
        & a p {
            margin: 0px;
        }

    }
    .CL_Btn_Tiempo {
        list-style: none;
    }
    #SC_Btns {
        margin: auto;
        width: 100%;
        padding-bottom: 20px;
        margin-top: -80px;
        /*Flex*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #Btns_Slider_Opciones {
        display: flex;
        justify-content: space-around;
        width: 35%;
        align-items: center;
    }
    #Btns_Slider {
        z-index: 30;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        opacity: 0.7;
        bottom: 6px;
        left: 30%;
        @include MX_Animacion_Normal(1/10, ease, 1/10);
    }
    #CONT_Iniciar_Sld {
        display: none;
    }
    .CL_Btn_Tiempo_Input {
        display: none;
    }
    #CONT_Radio_Btn_Tiempo,
    #CONT_After,
    #CONT_Before {
        background: $Color_3;
        cursor: pointer;
        padding: 0;
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
        @include MX_Bor_Radius(50%,0);
        color: #fff;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @include MX_Animacion_Normal(4/10, ease, 4/10);
        &:hover {
            border: solid 1px #fff;
        }
        & p {
            line-height: 0;
        }
    }
    #CONT_Before {
        order: 3;
    }
    input[type="radio"]:checked + label#CONT_Radio_Btn_Tiempo:before {
        display: none;
    }
    input[type="radio"]:checked + label#CONT_Radio_Btn_Tiempo {
        @include MX_Animacion_Normal(4/10, ease, 4/10);
    }
    #CONT_After:hover,
        #CONT_Before:hover {
        opacity: 0.7;
    }
    #GaleriaDescProducto {
        height: auto;
        margin: auto;
        width: 90%;
    }
    #GaleriaDescProducto img.Descripcion {
        display: inline-block;
        height: 100px;
        position: relative;
        vertical-align: top;
        width: 150px;
    }
    li.CL_Slider_Seleccionado {
        margin-left: 0;
        opacity: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 30;
        @include MX_Cubic_beizer_Scale(1);
    }
    li.CL_Slider_Seleccionado {
        @include MX_Animacion_Normal(5/10, ease, 5/10);
    }
    li.CL_Slider_No_Seleccionado {
        @include MX_Animacion_Normal(7/10, ease, 7/10);
    }
    li.CL_Slider_No_Seleccionado {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 20;
        @include MX_Cubic_beizer_Scale(1/10);
    }
    li.CL_Btn_No_Seleccionado,
    li.CL_Btn_Selecionado {
        background: $Color_3;
        border-radius: 50%;
        border: solid 3px $Color_3;
        cursor: pointer;
        height: 8px;
        margin-right: 8px;
        width: 8px;
        list-style: none;
        z-index: 40;
        @include MX_Animacion_Normal(3/10, ease, 3/10);
    }
    li.CL_Btn_Selecionado {
        background: $Color_10;
        border: solid 3px $Color_10;
    }
    .BtnAgregar {
        background-color:$Color_6;
        box-shadow: 0 0 1px 0 $Color_7;
        color:$Color_3;
        cursor: pointer;
        font-family: 'Poiret One', cursive;
        font-weight: bold;
        position: relative;
        top: 10px;
        padding: 10px 3px;
        text-align: center;
        width: 150px;
    }
}
