title {{dato.AOBJ_Datos_Usuario[0].Nombre_Usuario}} | Productos
link( rel="stylesheet" href!="<?php echo URL;?>public/css/Templates/Cliente/Productos/Productos.css")
//css y scrits propios de la pagina



section#SC_P_Productos.abcenter.Grid_Contenedor(ng-init="BL_Buscador_Productos = true" )
	//- #CONT_Contenedor_Invisible_Header

	main#CONT_Listado_Productos.Grid_Item.No_Padding.Base-100.distributed(ng-controller="Controlador_Registro_Producto" ng-init="FN_Listar_Productos()")
		#CONT_Buscador_Prouctos.Grid_Contenedor.abcenter(ng-show="BL_Buscador_Productos == true && BL_Ver_Buscador == true")
			.CL_Contenedor_Buscador( ng-init="buscar;BL_Ver_Buscador_Producto = true")
				input.CL_Buscar#BuscarProducto(maxlength="15",type="search", name="buscar" placeholder="Buscar producto" ng-model="buscar")
				label.icon-buscar.CL_Icono_Buscar(for="BuscarProducto")
		.Grid-Total.abcenter.Grid_Contenedor.CL_Alerta_5
			p.icon-retweet.CL_TXT_Enlace_4(title="Actualizar la lista de productos actuales",ng-click="FN_Listar_Productos()")
		#CONT_P_Productos.ng_repeat_anim1.Grid_Contenedor.Base-100.web-85.abcenter(ng-hide="LisProduct.Estado_Producto == 'Inhabilitado'",ng-class="{'CL_Producto_No_Agregado':LisProduct.BL_Estado_Producto, 'CL_Producto_Agregado': ! LisProduct.BL_Estado_Producto}" ng-repeat="LisProduct in dato.AOBJ_Productos_Principal |  filter:buscar:LisProduct.Nombre_Producto ")
			.Grid_Item.Base-100.web-50
				.CL_P_Imagen.Grid_Contenedor.Base-100.abcenter
					img.CL_Imagen_3(ng-src="{{LisProduct.Ruta_Imagen_Producto}}" )
			.Grid_Item.Base-100.web-50
				.CONT_Informacion.Base-100
				
				.Base-100.No_Padding.Padding-tablet
					.ContInfoProducto
						.CL_TXT_Nombre
							p.CL_TXT_NombreTitulo {{LisProduct.Nombre_Producto}}

						.CL_Botones
							.Grid_Contenedor.abcenter(id="Agregar")
								a.icon-orden(ng-class="{'Btn_Estilo_1':LisProduct.BL_Estado_Producto, 'Btn_Estilo_7': ! LisProduct.BL_Estado_Producto}" ng-click="LisProduct.BL_Estado_Producto =! LisProduct.BL_Estado_Producto ; FN_Agregar_Productos(LisProduct.PK_ID_Producto,$index)") {{LisProduct.TXT_Texto_Btn}}
					.Base-100.tablet-100
					.CL_ValoracionProducto.Grid_Contenedor
						.CL_Descripcion_Producto.Grid_Item
							.CL_Alerta_5.Padding-5 Descripci&oacute;n:
							.CL_Alerta_2.Padding-5 
								p.CL_TXT_Texto_2 {{LisProduct.Descripcion_Producto}}
					
					
				.CONT_Informacion.Base-100
					.Base-100.tablet-100
						.CL_ValoracionProducto.Grid_Contenedor.justify
							
							.CL_ContOpiniones.Grid_Item.Grid_Contenedor.abcenter.Base-100.tablet-100.web-30
								.Grid_Item.Grid_Contenedor.abcenter
									.CL_Precio
										p {{LisProduct.Valor_Unitario | currency}}
									.CL_Datos_Valoracion
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star
									.icon-comentarios.Btn_Estilo_5(title="Ver las opiniones de otros usuarios" ng-click="FN_Ver_Comentarios_Producto(LisProduct.PK_ID_Producto)") Ver comentarios
							.Grid_Item.Base-100.tablet-100.web-50.Grid_Contenedor.No.Padding
								.CL_TotalProducto.CL_Alerta_5.Padding-5.Grid_Contenedor
									p.CL_TXT_Texto_3 Subtotal:
									input.CL_INPUT_Total( type="text" placeholder="total" value="{{LisProduct.NUM_Total_Producto + '$'}}" disabled)
								.CL_Opciones_Herramienta
									.CL_Cantidad_Productos.Grid_Contenedor
										.CL_Datos.Grid_Contenedor.abcenter

											input#ID_INPUT_Cantidad(type="number" min="{{LisProduct.Cant_Unid_Min}}" max="{{LisProduct.Cant_Unid_Max}}"  value="0"  ng-model="LisProduct.NUM_Cantidad" ng-click="FN_Actualizar_Datos(1,LisProduct.PK_ID_Producto)",required)
										

									
				
		.CL_Alerta_5.ng_repeat_anim1.Grid_Contenedor.abcenter(ng-show="(dato.AOBJ_Productos_Principal |filter:buscar:LisProduct.Nombre_Producto).length == 0")
			
			.CONT_Figura.Padding-5.Invisible
				span.Invisible
				span.Invisible
				span.Invisible
				span.Invisible
			.CL_TXT_Texto_3.Grid_Contenedor.abcenter.CL_TXT_Texto_5 No se han encontrado productos
		.Grid-Total.abcenter.Grid_Contenedor.CL_Alerta_5
			p.icon-retweet.CL_TXT_Enlace_4(title="Actualizar la lista de productos actuales",ng-click="FN_Listar_Productos()")						
