section#SC_Modulo_Pedido(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 3 || dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 5 ")
#CONT_Orden_Pedido(ng-show="BL_Ver_Orden == true" ng-init="BL_Estado_Procutos = true")		
	#CONT_Invisible(ng-click="FN_Orden()"  ng-show="BL_Ver_Orden == true")
		.CL_Cerrar_Modal.CL_Transparente
	//SESION PEDIDO (importado desde Modulo_Pedido.php)
	

	#CONT_Orden_Principal(ng-show="BL_Ver_Orden == true")
		#CONT_Header_Info
			

			.CL_TXT_Titulo_Orden
				p.CL_TXT_Texto_3.icon-orden Mi orden actual

			p.CL_Eliminar_1_1(title="Cerrar Menú de orden" ng-click="FN_Orden()" )
		#CONT_Herramientas_Orden
			#CONT_Buscador
				.CL_Contenedor_Buscador(ng-show="BL_Estado_Procutos == true")
					input.CL_Buscar#BuscarOrden(type="search", name="buscar_Orden" placeholder="Buscar producto" ng-model="buscar_producto")
					label.icon-buscar.CL_Icono_Buscar(for="BuscarOrden")

			#CONT_Botones
				li(title="Enviar orden" ng-show="dato.NUM_Cantidad_Productos_En_Orden > 0")

					p.icon-enviar.CL_TXT_Pri_Btn.relative(ng-click="FN_Envio_Orden(1)")
						span.CL_TXT_Info_Btn Enviar

				li(title="Mi lista"  ng-click="BL_Estado_Procutos = ! BL_Estado_Procutos" )
					p.icon-orden.ng_show.CL_TXT_Pri_Btn.relative(ng-show="BL_Estado_Procutos == false")
						span.CL_TXT_Info_Btn Orden actual
					p.icon-lista.ng_show.CL_TXT_Pri_Btn.relative(ng-show="BL_Estado_Procutos == true")
						span.CL_TXT_Info_Btn  listas
				
				li(ng-show="dato.NUM_Cantidad_Productos_En_Orden > 0" title="Eliminar todos los productos")
					p.icon-eliminar.CL_TXT_Pri_Btn.relative(ng-click="FN_Confirmacion_Alerta(1,2,false,'¿Eliminar productos actuales?')")
						span.CL_TXT_Info_Btn Vaciar
		#CONT_Orden
			//SESION PARA CREAR LISTA DE PEDIDOS
			section#SC_Listas_Pedido.ng_show(ng-show="BL_Estado_Procutos == false")
				#CON_Listas_Pedios
					.Grid_Contenedor.justyfi
						p.CL_TXT_Texto_3.center.icon-add Crear nueva lista
						a.Btn_Estilo_2.icon-minus-square.ng_show.CL_TXT_Pri_Btn.relative(ng-show="NUM_Cantidad_Listas >0" ng-click="FN_Confirmacion_Alerta(3,2,false,'¿Esta seguro de eliminar todas ordenes creadas?')")  Borrar listas
					#CONT_Creacion_Lista.Grid_Contenedor.abcenter
						label(for="Nombre_Lista") Nombre t&uacute; lista
						.Base-70
							input#Nombre_Lista.Input_Estilo_1(ng-model="NMG_TXT_Nombre_Lista" type="text" value="Nombre")
						.Base-15.Padding-5
							p.Btn_Estilo_1.icon-plus-square.ng_show.CL_TXT_Pri_Btn.relative(ng-click="Fn_Crear_Lista()") Crear
								span.CL_TXT_Info_Btn Crear

					#CONT_Listas_Creadas
						p.CL_TXT_Texto_3.center Mis listas de ordenes creadas {{NUM_Cantidad_Listas}}

						#CONT_Lista.Grid_Contenedor(ng-repeat-start="Lista in AOBJ_Listas_Creadas")
							p.CL_Eliminar_3_3(ng-click="FN_Confirmacion_Alerta(2,$index,false,'¿Esta seguro de eliminar la orden actual?');")
							input#Nombre_Lista.Input_Estilo_1.Grid_Item.Base-100(ng-model="Lista.TXT_Nombre_Lista" type="text" value="Nombre")
							#CONT_Mensaje.Grid_Contenedor.Base-100
								.CL_Info_Lista.Grid_Item.Base-50.No_Padding.abcenter
									p Cantidad de productos en la orden:{{Lista.NUM_Cantidad_Productos}}
								.CL_Info_Lista.Grid_Item.Base-50.No_Padding.abcenter
									p Sub total: {{Lista.Sub_Total_Orden | currency}} 
								
							button.Btn_Estilo_5.Grid_Item.Base-30(ng-click="VerProductosEnLista($index)" ng-show="Lista.BL_Contenido == true") Ver productos

							


							#CONT_PRODUCTOS(ng-show="Lista.BL_Expandido == true")
								.CL_Alerta_3
									p.CL_TXT_SubTotal Total:
									input.CL_Orden_Monto( type="text" value="0" ng-model="dato.NUM_Precio_Total_Orden" disabled)
								.Grid_Contenedor
									#CONT_Producto_Lista.Grid_Contenedor.Base-100(ng-repeat="Producto in Lista.Articulos_Productos")

										//- p {{Producto.PK_ID_Producto}}
										img.Grid_Item.Base-40(ng-src="{{Producto.Ruta_Imagen_Producto}}")
										.Grid_Contenedor.Base-50
											p.Grid_Item.Base-100.CL_TXT_Texto_3 {{Producto.Nombre_Producto}}
											p.Grid_Item.Base-100.CL_TXT_Texto_2 {{Producto.Valor_Unitario}}
											
											p.Grid_Item.Base-100.CL_TXT_Texto_2 Costo: {{Producto.NUM_Costo}}
											p.Grid_Item.Base-100.CL_TXT_Texto_2 Cantiad:
											input.Grid_Item.Base-100(type="number"  min="{{Producto.Cant_Unid_Min}}"  max="{{Producto.Cant_Unid_Max}}"  value="{{Producto.NUM_Cantidad}}" ng-model="Producto.NUM_Cantidad" ng-click="FN_Actualziar_Datos_Lista(Lista.Id_Lista)")
						#CONT_FIN(ng-repeat-end)
					.CL_Alerta_3.icon-information-black Ayuda
						p.CL_TXT_Texto_2 Crea una lista para guardar los productos seleccionados hasta el momento. podras crear y guardar varias listas de ordenes, y luego retomar la orden y realizar su envio. 

			#CONT_Modal.ng_show(ng-show="BL_Estado_Procutos == true")
				#CONT_Productos_Orden
					.Btn_Circular_1.bottom-50(ng-init="BL_Ver_Dtll_Lista = false" ng-click="BL_Ver_Dtll_Lista = true" ng-show="(dato.AOBJ_Productos).length > 0")
						p.icon-add
						p.CL_TXT_Info_Btn Guardar orden actual
					.Grid_Contenedor.abcenter.CON_Paginacion#CONT_Herramientas_Orden
						.Grid_Contenedor.Base-10
							p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
						.Grid_Contenedor.Base-20
							input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
						
						dir-pagination-controls.Base-55.cross_end.Grid_Contenedor(boundary-links="true")
							p.CL_TXT_Texto_3 {{currentPage}}
							ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
								li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
									a(href="" ng-click="setCurrent(1)") &laquo;
								li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
									a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
								li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
								li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
									a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
								li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
									a(href="" ng-click="setCurrent(pagination.last)") &raquo;
					.CL_Producto_Orden.ng_repeat_anim1(dir-paginate="Productos_Agregados in dato.AOBJ_Productos |  orderBy: 'PK_ID_Producto' | filter:buscar_producto:Productos_Agregados.Nombre_Producto  | itemsPerPage: pageSize" current-page="currentPage" )
						.CL_Imagen_Producto
							img(ng-src="{{Productos_Agregados.Ruta_Imagen_Producto}}")
						.CL_Info_Producto
							p.CL_TXT_Nombre_Producto_Orden {{Productos_Agregados.Nombre_Producto}}

							.CL_Cantidad_Productos_Orden
								p Cantiad:
								input(type="number"  min="{{Productos_Agregados.Cant_Unid_Min}}"  max="{{Productos_Agregados.Cant_Unid_Max}}"  value="{{Productos_Agregados.NUM_Cantidad}}" ng-model="Productos_Agregados.NUM_Cantidad" ng-click="FN_Actualizar_Datos(2,Productos_Agregados.PK_ID_Producto)")
								.CL_Limite_Cantidad
									p max: {{Productos_Agregados.Cant_Unid_Max}}
									p min: {{Productos_Agregados.Cant_Unid_Min}}
							.CL_Total
								.CL_Precio_Orden {{Productos_Agregados.Valor_Unitario + '$'}}

								.CL_Total_Orden
									p Costo:
									p {{Productos_Agregados.NUM_Costo + '$'}}

						p.CL_Eliminar_1_1(ng-click="FN_Eliminar_Producto(Productos_Agregados.PK_ID_Producto)")

					.CL_Alerta_5.Grid_Contenedor.abcenter(ng-show="(dato.AOBJ_Productos |filter:buscar_producto:Productos_Agregados.Nombre_Producto).length == 0")
						.CONT_Figura.Invisible
							span
							span.Invisible
							span.Invisible
							span
						p.CL_TXT_Texto_3.left.border_bottom_1.Grid_Contenedor.abcenter.CL_TXT_Texto_5 No se han encontrado productos

	#CONT_Dtll_Lista.Grid_Contenedor.main_end.ng_show( ng-show="BL_Ver_Dtll_Lista == true")
		#CONT_Invisible(ng-click="BL_Ver_Dtll_Lista = false"  ng-show="BL_Ver_Dtll_Lista == true")
			.CL_Cerrar_Modal.CL_Transparente
		.CONT_Dtll_Lista.Grid_Item.Base-100.tablet-50.web-50.movil-95.cross_start.main_center.Grid_Contenedor.top-50
			p.CL_Eliminar_1_1(ng-click="BL_Ver_Dtll_Lista = false")

			.Btn_Circular_3.absolute.bottom-70(ng-click="BL_Ver_Dtll_Lista = false; BL_Estado_Procutos = false")
				p.icon-add
				p.CL_TXT_Info_Btn Crear lista
			p.CL_TXT_Texto_2.border_bottom_1.left Guardar orden actual
			p.CL_TXT_Texto_4.left.icon-lista Listas de ordenes creadas

			.Grid_Contenedor.CL_Listas_Productos
				.CONT_Listas_Creadas.ng_repeat_anim1.Grid_Item.Base-100(ng-repeat="Lista in AOBJ_Listas_Creadas")
					#CONT_Mensaje.Grid_Contenedor.Base-100
						input#Nombre_Lista.Input_Estilo_1.Grid_Item.Base-100(ng-model="Lista.TXT_Nombre_Lista" type="text" value="Nombre")
						.CL_Info_Lista.Grid_Item.Base-50.No_Padding.abcenter
							p Cantidad de productos:{{Lista.NUM_Cantidad_Productos}}
						.CL_Info_Lista.Grid_Item.Base-50.No_Padding.abcenter
							p Sub total: {{Lista.Sub_Total_Orden | currency}} 
						button.Btn_Estilo_5.Grid_Item.Base-35( ng-click="FN_Agregar_Productos_A_Lista(Lista.Id_Lista)") Seleccionar
			
			.CL_Alerta_5.abcenter(ng-show="(AOBJ_Listas_Creadas).length == 0")
				.CONT_Figura.Invisible
					span.Invisible
					span
					span
					span.Invisible
				p.CL_TXT_Texto_3.left.border_bottom_1.Grid_Contenedor.abcenter.CL_TXT_Texto_5 No posees listas creadas
	//SESION OPCIONES ORDEN



	//ENVIO ORDEN					
	section#SC_Enviar_Orden(ng-init="BL_Datos_Envio_Producto = false")
		#CONT_EnviarOrden(ng-show="BL_Ver_Envio_Orden == true")
			#CONT_Invisible(ng-click="BL_Ver_Envio_Orden =! BL_Ver_Envio_Orden")
				.CL_Cerrar_Modal
			#CONT_Enviar_Orden_List(ng-if="BL_Datos_Envio_Producto == true")
				p.CL_TXT_Texto_4 Orden actual
				p.CL_Eliminar_1_1(ng-click="FN_Envio_Orden(3)")
				form(name="Envio_Orden" ng-submit="FN_Envio_Orden(2,DT)")
					.Tabla_Estilo_1
						table
							thead
								tr
									th.Imagen 
									th Producto
									th Precio
									th Cantidad
									th Subtotal
									th
							.Grid_Contenedor.abcenter.CON_Paginacion
								.Grid_Contenedor.Base-10
									p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
								.Grid_Contenedor.Base-20
									input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
								
								dir-pagination-controls.Base-45.cross_end.Grid_Contenedor(boundary-links="true")
									p.CL_TXT_Texto_3 {{currentPage}}
									ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
										li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
											a(href="" ng-click="setCurrent(1)") &laquo;
										li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
											a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
										li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
										li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
											a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
										li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
											a(href="" ng-click="setCurrent(pagination.last)") &raquo;
							tbody
								tr(dir-paginate="Productos_Agregados in dato.AOBJ_Productos | filter:Buscar | itemsPerPage: pageSize" current-page="currentPage" )
									td.CL_Imagen 
										img.CL_Imagen_3(ng-src="{{Productos_Agregados.Ruta_Imagen_Producto}}")
									td {{Productos_Agregados.Nombre_Producto}}
									td {{Productos_Agregados.Valor_Unitario | currency}}
									td
										input.Input_Estilo_1(name="Cantidad_Productos{{$index}}",type="number",min="{{Productos_Agregados.Cant_Unid_Min}}",max="{{Productos_Agregados.Cant_Unid_Max}}",value="{{Productos_Agregados.NUM_Cantidad}}",ng-model="Productos_Agregados.NUM_Cantidad",ng-click="FN_Actualizar_Datos(2,Productos_Agregados.PK_ID_Producto)",required)
										//Mensaje de validacion
										div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.$pristine && Envio_Orden.Cantidad_Productos{{$index}}.$error.required")
											p.icon-negocio Ingrese la cantidad de productos a solicitar
										div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.Cantidad_Productos{{$index}}.$valid && !Envio_Orden.$pristine && !Envio_Orden.Cantidad_Productos{{$index}}.$error.required ")
											p.icon-login La cantidad a solicitar no es suficiente
									td {{Productos_Agregados.NUM_Costo | currency}}
									td.CL_Tbl_Icon
											.icon-cancelar2.CL_TXT_Pri_Btn.relative(ng-click="FN_Eliminar_Producto(Productos_Agregados.PK_ID_Producto)")
												span.CL_TXT_Info_Btn Eliminar


								tr
									td
									td
									td
									td
									td.CL_TXT_TotalEnvio Total
									td.CL_TXT_TotalEnvio {{dato.NUM_Precio_Total_Orden | currency}}
						#CONT_Confimar_Datos.Grid_Contenedor.Base-100.abcenter
							.Grid_Item.Base-100.tablet-30.Grid_Contenedor.column
								p.CL_TXT_Texto_4 Confirma la siguiente informaci&oacute;n para poder enviar t&uacute; orden

								label.CL_TXT_Texto_2.icon-ubicacion-1(for="Direccion_Datos") Direcci&oacute;n de entrega
								select.Select_1(ng-init="Otra_Direccion = false; DT.Direccion_Entrega = dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento ")
									option(ng-click="Otra_Direccion =! Otra_Direccion;DT.Direccion_Entrega = dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento",value="{{dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento}}") {{dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento}}
									option(value="Otra dirección",ng-click="Otra_Direccion =! Otra_Direccion;DT.Direccion_Entrega = ''") Otra dirección
								input.Input_Estilo_1#Direccion_Datos(value="{{Direccion_Entrega}}",name="Direccion_Entrega",required,maxlength="20",minlength="7",ng-show="Otra_Direccion == true",type="text",ng-model="DT.Direccion_Entrega")
								//Mensaje de validacion
								div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.$pristine && Envio_Orden.Direccion_Entrega.$error.required")
									p.icon-negocio Ingrese una dirección de entrega
								div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.Direccion_Entrega.$valid && !Envio_Orden.$pristine && !Envio_Orden.Direccion_Entrega.$error.required ")
									p.icon-login La cantidad de caracteres es muy corta
								label.CL_TXT_Texto_2.icon-celular(for="Telefono_Datos") Telefono del lugar de entrega
								select.Select_1(ng-init="Otro_Telefono = false;DT.Telefono_Entrega = dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento")
									option(ng-click="Otro_Telefono =! Otro_Telefono;DT.Telefono_Entrega = dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento",value="{{dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento}}") {{dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento}}
									option(value="Otro telefono",ng-click="Otro_Telefono = true;DT.Telefono_Entrega = ''") Otro telefono
								input.Input_Estilo_1#Telefono_Datos(name="Telefono_Entrega",required,maxlength="10",minlength="7",value="{{Telefono_Entrega}}",ng-show="Otro_Telefono == true",type="tel",ng-model="DT.Telefono_Entrega")
								//Mensaje de validacion
								div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.$pristine && Envio_Orden.Telefono_Entrega.$error.required")
									p.icon-negocio Ingrese un numero telefonico
								div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.Telefono_Entrega.$valid && !Envio_Orden.$pristine && !Envio_Orden.Telefono_Entrega.$error.required ")
									p.icon-login La cantidad de caracteres es muy corta
							.CL_Botones_Enviar
								button.Btn_Estilo_1.icon-enviar( ng-disabled="!Envio_Orden.$valid ") Enviar
								p.Btn_Estilo_5(ng-click="FN_Envio_Orden(3)") Cancelar envio
							
					
section#SC_Comentarios_Productos
	//ng_show="BL_Comentario == true"
	#CONT_Comentarios_Productos.abcenter.Grid_Contenedor(ng_show="BL_Comentario == true")
		#CONT_Invisible(ng-click="BL_Comentario = false")
			.CL_Cerrar_Modal
		#CONT_Com_Product.Base-100.web-70.Grid_Contenedor
			#CON_Main_Comentarios.Grid_Contenedor.Padding-5.Base-100.abcenter
				#CONT_Comentario.Base-100.Padding-5.main_start.cross_start
					.CL_Crear_Comentario_Nuevo.Grid_Contenedor.abcenter.Padding-5
						form.Base-100.Grid_Contenedor.abcenter(ng-submit="FN_Registrar_Nuevo_Comentario(N)" name="Ingresar_Comentario_Producto")
							#CON_Cabezera_Comentarios.Grid_Contenedor.Grid_Total.justyfi
								p.CL_TXT_Texto_4.Grid_Total.Grid_Contenedor.abcenter.ng_show(ng-show="!Ingresar_Comentario_Producto.$valid && BL_Edicion_Datos_Comentario == false") Comentarios
								p.CL_Eliminar_1_1(ng-show="!Ingresar_Comentario_Producto.$valid && BL_Edicion_Datos_Comentario == false",ng-click="BL_Comentario  = false")
								.Grid_Item.Base-100.ng_show.justify.Grid_Contenedor.ng_show(ng-show="Ingresar_Comentario_Producto.$valid && BL_Edicion_Datos_Comentario == false")
									//--
									.Grid_Item.Base-10.Grid_Contenedor.abcenter
										a.CL_TXT_Texto_5.icon-android-close.Enlace(ng-click="N.Comentario = ''")
									.Grid_Item.Base-60.Grid_Contenedor.abcenter
										.CL_TXT_Texto_4.Grid_Total.Grid_Contenedor.abcenter Nuevo comentario 
									.Grid_Item.Base-20.Grid_Contenedor.abcenter
										button.icon-android-done.CL_TXT_Texto_5.Enlace(ng-disabled="!Ingresar_Comentario_Producto.$valid" type="submit")
								//--
								.Grid_Item.Base-100.ng_show.justify.Grid_Contenedor.ng_show(ng-show="BL_Edicion_Datos_Comentario == true")
									.Grid_Item.Base-10.Grid_Contenedor.abcenter
										a.CL_TXT_Texto_5.icon-android-close.Enlace(ng-click="FN_Editar_Comentario(Num_Posicion_Comentario,2)")
									.Grid_Item.Base-60.Grid_Contenedor.abcenter
										.CL_TXT_Texto_4.Grid_Total.Grid_Contenedor.abcenter Editar Comentario
									.Grid_Item.Base-10.Grid_Contenedor.abcenter
										a.CL_TXT_Texto_5.Enlace.Enlace.icon-android-done(ng-click="FN_Modificar_Comentario(Num_Posicion_Comentario)")
							.Grid_Item.Base-100.Grid_Contenedor.abcenter
								.Grid_Item.CL_Imagen_Usuario_Comentario_Producto
									img.CL_Imagen_1(ng-src="{{dato.AOBJ_Datos_Usuario[0].Imagen_Usuario}}")
								textarea.Textarea_Estilo_1.No_Margin(ng-model="N.Comentario",type="text" placeholder="Agregar un comentario",required)
								input.Input_Estilo_1.Invisible(ng-model="N.PK_ID_Producto")
							
					#CONT_Comentarios_Listados.Base-100
						.Grid_Contenedor.abcenter.CON_Paginacion
							.Grid_Contenedor.Base-10
								p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
							.Grid_Contenedor.Base-20
								input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
							
							dir-pagination-controls.Base-45.cross_end.Grid_Contenedor(boundary-links="true")
								p.CL_TXT_Texto_3 {{currentPage}}
								ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
									li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
										a(href="" ng-click="setCurrent(1)") &laquo;
									li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
										a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
									li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
									li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
										a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
									li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
										a(href="" ng-click="setCurrent(pagination.last)") &raquo;
						.CL_Comentario_Usuario_Producto.Base-100.Padding-tablet.Grid_Contenedor.main_start(dir-paginate="Comentarios_Productos in dato.AOBJ_Comentarios_Producto  | itemsPerPage: pageSize" current-page="currentPage")
							.CL_Imagen_Usuario_Comentario_Producto.Grid_Item
								img.CL_Imagen_1(ng-src="{{Comentarios_Productos.Imagen_Usuario}}")
							.CL_Mensaje_Usuario_Comentario_Producto.Base-75.tablet-85.Grid_Item.Grid_Contenedor.abcenter
								.Grid_Contenedor.abcenter.CL_Mensaje_Comentario_Producto.Grid_Total.Padding-10
									.CL_Nombre_Usuario_Comentario_Producto.relative.Base-100.Grid_Contenedor.justify.abcenter
										.Grid_Item.CL_TXT_Texto_3.tablet-80 {{Comentarios_Productos.Nombre_Usuario}}
										.Grid_Item.relative.Enlace.icon-android-more-vertical.Base-10(ng-click="FN_Ver_Opciones_Comentario($index)",ng-hide="Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario")
										
										.Grid_Contenedor.CL_Opciones_Comentario.ng_show(ng-show="Comentarios_Productos.BL_Opciones_Comentario == true")
											#CONT_Invisible(ng-click="FN_Ver_Opciones_Comentario($index)",ng-show="Comentarios_Productos.BL_Opciones_Comentario == true")
												.CL_Cerrar_Modal.CL_Transparente
											.CL_Opcion.Grid_Item.Base-100.CL_TXT_Texto_1.Enlace( ng-click="FN_Editar_Comentario($index,1)") Editar
											.CL_Opcion.Grid_Item.Base-100.CL_TXT_Texto_1.Enlace(ng-click="FN_Eliminar_Comentario(Comentarios_Productos.PK_ID_Comentario)") Eliminar
									.CONT_CL_Comentario_Producto.Base-100
										textarea.Textarea_Estilo_2.CONT_Mensaje_Producto.CL_TXT_Texto_1.Base-100.tablet-80(ng-click="FN_Editar_Comentario($index,1)",ng-model="Comentarios_Productos.Descripcion",ng-if="Comentarios_Productos.Nombre_Usuario == dato.AOBJ_Datos_Usuario[0].Nombre_Usuario",ng-disabled=" Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario")  {{Comentarios_Productos.Descripcion}}
										

									.CONT_Mensaje_Producto.CL_TXT_Texto_1(ng-if="Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario",ng-disabled=" Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario")  {{Comentarios_Productos.Descripcion}}

									.CL_Herramientas_Comentario_Producto.fixed.Grid_Contenedor.Base-100.main_end.Padding-5
										.Grid_Item.CL_TXT_Texto_1.Base-100.tablet-30 {{Comentarios_Productos.Fecha_Comentario | date:'longDate'}}
										.CL_Valoracion_Comentario_Producto.Grid_Item.relative.CL_TXT_Pri_Btn.icon-heart.Base-30.tablet-20(ng-click="FN_Valoracion_Comentario($index)",ng-hide="Comentarios_Productos.Nombre_Usuario == dato.AOBJ_Datos_Usuario[0].Nombre_Usuario") {{Comentarios_Productos.Valoracion_Comentario}}
											span.CL_TXT_Info_Btn.top-30_30 Puntos
section#SC_Ordenes_Enviadas(ng-show="BL_Ordenes_Enviadas == true")
	#CONT_Invisible(ng-click="FN_Ordenes_Enviadas(1)")
		.CL_Cerrar_Modal.CL_Transparente
	.CL_CONT_Ordenes_Enviadas.Grid_Contenedor.Base-100.tablet-40
		.Grid_Contenedor.CL_Cabezera_Envio_Orden
			p.CL_TXT_Texto_4.center Ordenes enviadas
			p.Enlace.icon-flecha2.relative.top-40_40.left-10(ng-click="FN_Ordenes_Enviadas(2)",ng-if="BL_Detalle_Orden_Enviada == true")
			p.CL_Eliminar_1_1(ng-click="FN_Ordenes_Enviadas(1)")
		.Grid_Contenedor.Cl_CONT_Envio_Orden.Grid_Item.cross_start(ng-if="BL_Lista_Ordenes_Enviadas == true")

			.Grid_Item.Base-100.CL_Orden_Enviada.abcenter.ng_repeat_anim1(ng-repeat="Ordenes_Enviadas in AOBJ_Lista_Ordenes_Enviadas")
				.Grid_Contenedor.Base-100

					.Tabla_Estilo_1
						table
							thead
								tr
									th Codigo 
									th Estado
									th Fecha de envio
									th Dirrección
									th Telefono

							tbody
								tr
									
									td {{Ordenes_Enviadas.PK_ID_Cotizacion_Usuario}}
									td.CL_Estado_CONT
										.CL_Icono_Estado.CL_TXT_Pri_Btn.relative
											p(ng-class="{'CL_Estado_Confirmado icon-agregar3': Ordenes_Enviadas.Estado_Cotizacion == 'Atendido','CL_Estado_Cancelado icon-cancelado': Ordenes_Enviadas.Estado_Cotizacion == 'Cancelado','CL_Estado_EnProgreso icon-actualizar': Ordenes_Enviadas.Estado_Cotizacion == 'En proceso'}")
											span.CL_TXT_Info_Btn {{Ordenes_Enviadas.Estado_Cotizacion}}
									td {{Ordenes_Enviadas.Fecha_Cotizacion}}
									td {{Ordenes_Enviadas.Direccion_entrega}}
									td {{Ordenes_Enviadas.Telefono_Entrega}}
								
						.Grid_Contenedor.justify
							p.Btn_Estilo_7.icon-eye(title="Ver los detalles de esta orden",ng-click="FN_Ordenes_Enviadas(3);FN_Listar_Detalles_Ordene_Enviada($index)") Ver orden
							p.Btn_Estilo_5.icon-cancelar2(ng-if="Ordenes_Enviadas.Estado_Cotizacion == 'Cancelado' || Ordenes_Enviadas.Estado_Cotizacion == 'Atendido'",title="Eliminar esta orden",ng-click="FN_Ordenes_Enviadas(2);FN_Confirmacion_Alerta(7,$index,false,'¿Esta seguro de eliminar la orden?')") Eliminar
			.CL_Alerta_5.Grid_Contenedor.abcenter(ng-show="(AOBJ_Lista_Ordenes_Enviadas).length == 0")
				p.CL_TXT_Texto_3.left.border_bottom_1.Grid_Contenedor.abcenter.CL_TXT_Texto_5 No se han encontrado ordenes
		.Grid_Contenedor.Cl_CONT_Envio_Orden.Grid_Item.cross_start(ng-if="BL_Detalle_Orden_Enviada == true")
			p.CL_TXT_Texto_4 Detalles de la orden
			.CL_Alerta_5.Padding-10 Precio total de la orden: {{Total_Orden_Enviada | currency}}
			.Grid_Contenedor.abcenter.CON_Paginacion
				.Grid_Contenedor.Base-10
					p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
				.Grid_Contenedor.Base-20
					input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
				
				dir-pagination-controls.Base-55.cross_end.Grid_Contenedor(boundary-links="true")
					p.CL_TXT_Texto_3 {{currentPage}}
					ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
						li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
							a(href="" ng-click="setCurrent(1)") &laquo;
						li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
							a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
						li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
						li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
							a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
						li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
							a(href="" ng-click="setCurrent(pagination.last)") &raquo;
			.Grid_Item.Base-100.CL_Orden_Enviada.abcenter(dir-paginate="Ordenes_Detalle in AOBJ_Lista_Detalles_Ordenes_Enviadas | filter:Buscar | itemsPerPage: pageSize" current-page="currentPage")
				.Grid_Contenedor.Base-100

					.Tabla_Estilo_1
						table
							thead
								tr
									th 
									th.CL_TXT_Texto_1 Precio
									th.CL_TXT_Texto_1 Sub total
									th.CL_TXT_Texto_1 Cantidad
							tbody
								tr
									
									td.CL_Imagen
										img(ng-src="{{Ordenes_Detalle.Ruta_Imagen_Producto}}") 
									td.CL_TXT_Texto_1 {{Ordenes_Detalle.Valor_Unitario | currency}}
									td.CL_TXT_Texto_1 {{Ordenes_Detalle.Sub_Total | currency}}
									td.CL_TXT_Texto_1 {{Ordenes_Detalle.Cantidad_Productos}}
									

									
