section#SC_Promociones(ng-init="Consultar_Promociones()",ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 3 || dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 5 ")
	#CONT_Promociones
		.CL_Alerta_5.Titulo_Promociones_TBL Promociones
		#CONT_Lista_Promociones
			table
				thead
					tr.CL_TH_Cabezera_Tbl
						th Nombre 
						th.TH_Descripcion Descripci&oacuten
				tbody
					tr(ng-repeat="Promociones in AOBJ_Consultar_Promociones")
						th.CL_TH
							{{Promociones.Nombre_Promocion}}
							th.CL_TH.TH_Descripcion
								{{Promociones.Descripcion}}
		


|	<style>
|  #SC_Promociones
|  {
|  	background-color: #eee;
|  	position: fixed;
|  	right: 0px;
|  	height: 400px;
|  	width: 400px;
|	overflow: auto;
|  }
|.CL_TH{
|	font-size:75%;
|}
|.CL_TH_Cabezera_Tbl{
|	color:green;
|	font-family: gabriola;
|	font-size: 160%;
|   display: flex;
|   justify-content: space-between;
|}
|.TH_Descripcion{
|	margin-left: 28%;
|position: absolute;
|}


</style>