section#SC_Modulo_Notificaciones(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 3 || dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 5 ")
	//SESION NOTIFICACIONES (importado desde Modulo_Notificaciones.php)					
	section#SC_Notificaciones(ng-init="BL_Btns_Ver_Notificaciones = true")
		#CONT_Invisible(ng-click="BL_Contenedor_Notificaciones =! BL_Contenedor_Notificaciones" ng-show="BL_Contenedor_Notificaciones == true")
			.CL_Cerrar_Modal.CL_Transparente
		#CONT_Notificacion(ng-show="BL_Contenedor_Notificaciones == true")
		
			p.CL_TXT_Texto_3.icon-notificacion  Notificaciones 
			p.CL_Eliminar_1_1(ng-click="FN_Notificacion()" title="Cerrar el menú de notificaciones") 
			#CONT_Notificaciones_Conts
				.CL_Mensaje_Notificacion.ng_repeat_anim1(ng-repeat="Notificaciones in dato.AOBJ_Estado_Notificaciones")
					.CL_Icono_Notificacion
						p(ng-class="{'CL_Estado_Confirmado icon-agregar3': Notificaciones.BL_Estado == 1,'CL_Estado_Cancelado icon-cancelado': Notificaciones.BL_Estado == 2,'CL_Estado_EnProgreso icon-actualizar': Notificaciones.BL_Estado == 3}")

					.CL_Mensaje_Notificaciones
						p Codigo orden:{{Notificaciones.NUM_ID_Notificacion}}
						p Estado:{{Notificaciones.TXT_Nombre}}
						p.CL_TXT_Tiempo_Estado {{Notificaciones.DATE_Hora | date:'longDate'}}
						.CL_Eliminar_Contenido(ng-click="FN_Eliminar_Notificacion($index)")
							p.icon-cancelar2
			#CONT_Mensaje_Producto(ng-show="(dato.AOBJ_Estado_Notificaciones).length == 0")
				.IconoNoResult
				#CONT_Figura
					span
					span
					span
					span
				.CL_TXT_Mensaje No hay notificaciones
