
section#SC_Modulo_Barra_Navegacion
	//SESION BARRA NAVEGACION
	section#SC_Menu
			#CONT_Menu_Principal(ng-show="BL_Ver_Menu == true")
				//- #CONT_Invisible.CL_Cerrar_Invisible_Barra_Nav(ng-click="BL_Ver_Menu =! BL_Ver_Menu" ng-show="BL_Ver_Menu == true")
				//- 	.CL_Cerrar_Modal
				#CONT_Menu_Nav(ng-show="BL_Ver_Menu == true")
					#CONT_Portada
						img.CL_Portada_Imagen(ng-src="{{dato.AOBJ_Datos_Usuario[0].Fondo_Perfil_Usuario}}")

						#CONT_Datos_Cuenta
							#CONT_Imagen_Perfil


								.CL_Imagen_Perfil
									img.CL_Img_Perfil(ng-src!="{{dato.AOBJ_Datos_Usuario[0].Imagen_Usuario}}")
									span.Estado_Usuario(ng-class="{Activo: dato.AOBJ_Datos_Usuario[0].Disponibilidad == 'Activo', Inactivo:  dato.AOBJ_Datos_Usuario[0].Disponibilidad == 'Inactivo'}" title="Estado actual de tu cuenta")
										p
							#CONT_Datos_Usuario
								p.CL_TXT_Mensaje {{dato.AOBJ_Datos_Usuario[0].Correo_Electronico}}
								p.CL_TXT_Nombre {{dato.AOBJ_Datos_Usuario[0].Nombre_Usuario}}
								div#CONT_Herramientas_Usuario
									#CONT_Opciones_Cuenta.Btn_Estilo_5( )
										a.icon-login(href!="<?php echo URL; ?>Cliente/Cuenta") 
									

									

					nav.CL_Nav
						ul#CONT_Ul_Nav(ng-init="BL_Gestion_Cuentas_Usuario = false;BL_Gestion_Administrativa=false")
							


							section#CONT_SC_Paginas
								div(ng-if="BL_Btns_Ver_Login == true;Bl_Btn_Login_Iniciar_Sesion == true")
									p.CL_TXT_Detalle Opciones
									li
										a.CL_Btn_Enlace.icon-login.ng_repeat_anim1(ng-click="FN_Login()")
											span.CL_TXT_Nav Ingresar
								div(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 3 || dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 5 ")
									p.CL_TXT_Detalle Navegaci&oacute;n
									li
										a.CL_Btn_Enlace.icon-inicio(href!="<?php echo URL; ?>Inicio/Inicio")
											span.CL_TXT_Nav Inicio
									li
										a.CL_Btn_Enlace.icon-ayuda-online( ng-click="FN_Mensaje_Desplegar(true,true,false,false,true)")
											span.CL_TXT_Nav Ayuda
									li
										a.CL_Btn_Enlace.icon-galeria1(href!="<?php echo URL; ?>Cliente/Productos")
											span.CL_TXT_Nav Productos
									li(ng-if="BL_Btns_Ver_Login == true;Bl_Btn_Login_Iniciar_Sesion == true")
										a.CL_Btn_Enlace.icon-registrarme(href!="<?php echo URL; ?>Cliente/Registro")
											span.CL_TXT_Nav Registrarme
								


							section#CONT_SC_Herramientas
								p.CL_TXT_Detalle Herramientas
								//Elemento visible solo para usuarios y usuario sin iniciar sesion
								div(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 3 || dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 5 ")
									li
										a.CL_Btn_Enlace.icon-mensaje(ng-click="FN_Mensaje_Desplegar(true,false,false,false,false)")
											span.CL_TXT_Nav Mensajes
											span.CL_Cantidad {{dato.NUM_CantidadMensajeUsuario}}
									li
										a.CL_Btn_Enlace.icon-notificacion( ng-click="FN_Notificacion()" )
											span.CL_TXT_Nav Notificaciones
											span.CL_Cantidad  {{dato.NUM_CantidadNotificaciones}}
									li
										a.CL_Btn_Enlace.icon-orden( ng-click="FN_Orden()" title="Desplegar menu de orden")
											span.CL_TXT_Nav Mi orden actual
											span.CL_Cantidad  {{dato.NUM_Cantidad_Productos_En_Orden}}
								//Elemento visible solo para Administradores
								div(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 1")
									li
										a.CL_Btn_Enlace.icon-bulb(href!="<?php echo URL; ?>Error/Error")
											span.CL_TXT_Nav Error 404
									li.ng_repeat_anim1
										a.CL_Btn_Enlace.icon-bulb(href!="<?php echo URL; ?>Administracion/Guia_Proyecto")
											span.CL_TXT_Nav Guia proyecto
									li.ng_repeat_anim1
										a.CL_Btn_Enlace.icon-administracion(href!="<?php echo URL; ?>Administracion/Guia_Proyecto")
											span.CL_TXT_Nav Administracion Inicio
							//Elemento visible solo para Administradores
							section#CONT_SC_Paginas(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 1")
								
								//- li
								//- 	a.CL_Btn_Enlace.icon-users(ng-click="BL_Gestion_Cuentas_Usuario = ! BL_Gestion_Cuentas_Usuario;BL_Guia = false")
								//- 		span.CL_TXT_Nav Gestion Cuentas usuario
								//- li
								//- 	a.CL_Btn_Enlace.icon-settings(ng-click="BL_Gestion_Cuentas_Usuario=false;BL_Gestion_Administrativa = ! BL_Gestion_Administrativa;BL_Guia = false")
								//- 		span.CL_TXT_Nav Gestion Administrativa
								li
									a.CL_Btn_Enlace.icon-settings(href!="<?php echo URL; ?>Administracion/Inicio_Administracion/Modulo_Permisos_Usuario")
										span.CL_TXT_Nav Modulo Permisos usuario
								
							//Elemento visible solo para Administradores
							section#CONT_SC_Paginas(ng-if="BL_Guia == true ")
								#CONT_Barra
										li

											a.CL_Btn_Enlace.icon-design(ng-click="FN_Ver_Elemento_Guia(1)")
												span.CL_TXT_Nav UI Elements
										li

											a.CL_Btn_Enlace.icon-sitemap(ng-click="FN_Ver_Elemento_Guia(2)")
												span.CL_TXT_Nav Estructura proyecto
										li

											a.CL_Btn_Enlace.icon-css(ng-click="FN_Ver_Elemento_Guia(3)")
												span.CL_TXT_Nav Sass
										li

											a.CL_Btn_Enlace.icon-angular(ng-click="FN_Ver_Elemento_Guia(4)")
												span.CL_TXT_Nav Angular.js
										li

											a.CL_Btn_Enlace.icon-html5(ng-click="FN_Ver_Elemento_Guia(5)")
												span.CL_TXT_Nav HTML
										li

											a.CL_Btn_Enlace.icon-database(ng-click="FN_Ver_Elemento_Guia(6)")
												span.CL_TXT_Nav Base de datos


							//Elemento visible solo para administradores
							section#CONT_SC_Herramientas(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 1")
								div
									p.CL_TXT_Detalle Opciones
								
									li
										a.CL_Btn_Enlace.icon-registrarme(href!="<?php echo URL; ?>Administracion/Inicio_Administracion/Registrar_Nuevo_Usuario")
											span.CL_TXT_Nav Registrar usuario nuevo
									li
										a.CL_Btn_Enlace.icon-users(href!="<?php echo URL; ?>Administracion/Inicio_Administracion/Consultar_Usuarios")
											span.CL_TXT_Nav Consultar usuarios registrados
									li
										a.CL_Btn_Enlace.icon-galeria1(href!="<?php echo URL; ?>Administracion/Inicio_Administracion/Modulo_Gestion_De_Contenido")
											span.CL_TXT_Nav Modulo gestion de contenido
							//Elemento visible solo para Administradores
							section#CONT_SC_Herramientas(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 1")
								div
									p.CL_TXT_Detalle Opciones
								
									

									li
										a.CL_Btn_Enlace.icon-puzzle-piece(href!="<?php echo URL; ?>Administracion/Inicio_Administracion/Modulo_Producto")
											span.CL_TXT_Nav Modulo producto
							
									li
										a.CL_Btn_Enlace.icon-puzzle-piece(href!="<?php echo URL; ?>Administracion/Inicio_Administracion/Modulo_Promociones")
											span.CL_TXT_Nav Modulo promociones
									li
										a.CL_Btn_Enlace.icon-list-add(href!="<?php echo URL; ?>Administracion/Inicio_Administracion/Modulo_Categoria")
											span.CL_TXT_Nav Modulo Categoria
							
	//SESION OPCIONES PERFIL
	section#SC_Opciones_Perfil
		#CONT_Invisible(ng-click="BL_Opciones_Cuenta =! BL_Opciones_Cuenta" ng-show="BL_Opciones_Cuenta == true")
			.CL_Cerrar_Modal.CL_Transparente
		#CONT_Perfil_Opciones_Usuario_P(ng-show="BL_Opciones_Cuenta == true")
			
			p.CL_TXT_Categoria Disponibilidad
			.CL_Estado_Usuario
				.CL_Opciones_Cuenta.CL_Activo(ng-click="FN_Actualizar_Datos_Tabla_Cliente();dato.AOBJ_Datos_Usuario[0].Disponibilidad = 'Activo'")
					p.icon-activo
					a Activo
				.CL_Opciones_Cuenta.CL_Inactivo(ng-click="FN_Actualizar_Datos_Tabla_Cliente();dato.AOBJ_Datos_Usuario[0].Disponibilidad = 'Inactivo'")
					p.icon-inactivo
					a Inactivo
			div(ng-if="BL_Btns_Ver_Login == false;Bl_Btn_Login_Iniciar_Sesion == false")
				p.CL_TXT_Categoria Cuenta
				.CL_Opciones_Cuenta

					p.icon-login
					a(href!="<?php echo URL; ?>Cliente/Cuenta") Cuenta
				.CL_Opciones_Cuenta
				
				
			p.CL_TXT_Categoria m&aacute;s
			.CL_Mas_Opciones_Cuenta
				//Elemento visible solo para usuarios y usuario sin iniciar sesion
				div(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 3 || dato.AOBJ_Datos_Usuario[0].FK_ID_Rol == 5 ")
					.CL_Opciones_Cuenta(ng-click="FN_Notificacion()" title="Desplegar menu de notificaciones")
						p.icon-notificacion
						a Noficaciones
					.CL_Opciones_Cuenta(ng-click="FN_Mensaje_Desplegar(true,false,false,false,false)" title="Desplegar menu de mensajes")
						p.icon-mensaje
						a Mensajes
					.CL_Opciones_Cuenta(ng-click="FN_Orden()" title="Desplegar menu de orden")
						p.icon-orden
						a Orden
				.CL_Opciones_Cuenta(ng-show="Bl_Btn_Login_Cerrrar_Sesion == true")
					p.icon-login-2
					a(ng-click="FN_Cerrar_Sesion()") Cerrar sesi&oacute;n
				