@charset "UTF-8";

@font-face {
  font-family: "allop";
  src:url("fonts/allop.eot");
  src:url("fonts/allop.eot?#iefix") format("embedded-opentype"),
    url("fonts/allop.woff") format("woff"),
    url("fonts/allop.ttf") format("truetype"),
    url("fonts/allop.svg#allop") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "allop" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "allop" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enviar:before {
  content: "\61";
}
.icon-eliminar:before {
  content: "\62";
}
.icon-cancelar2:before {
  content: "\63";
}
.icon-lista:before {
  content: "\64";
}
.icon-orden:before {
  content: "\65";
}
.icon-mensaje:before {
  content: "\66";
}
.icon-pause:before {
  content: "\67";
}
.icon-iniciar:before {
  content: "\68";
}
.icon-siguiente:before {
  content: "\69";
}
.icon-atras:before {
  content: "\6a";
}
.icon-inicio:before {
  content: "\6b";
}
.icon-ayuda-online:before {
  content: "\6c";
}
.icon-galeria1:before {
  content: "\6d";
}
.icon-galeria2:before {
  content: "\6e";
}
.icon-galeria3:before {
  content: "\6f";
}
.icon-registrarme:before {
  content: "\70";
}
.icon-nube:before {
  content: "\71";
}
.icon-agregar2:before {
  content: "\72";
}
.icon-agregar1:before {
  content: "\73";
}
.icon-cancelar1:before {
  content: "\74";
}
.icon-menu3:before {
  content: "\76";
}
.icon-menu1:before {
  content: "\77";
}
.icon-flecha4:before {
  content: "\78";
}
.icon-flecha2:before {
  content: "\79";
}
.icon-flecha-1:before {
  content: "\7a";
}
.icon-flecha3:before {
  content: "\41";
}
.icon-configurar1:before {
  content: "\42";
}
.icon-configurar2:before {
  content: "\43";
}
.icon-siguiente2:before {
  content: "\44";
}
.icon-atras2:before {
  content: "\45";
}
.icon-comentarios:before {
  content: "\46";
}
.icon-buscar-1:before {
  content: "\47";
}
.icon-alerta1:before {
  content: "\48";
}
.icon-agregar3:before {
  content: "\4a";
}
.icon-actualizar:before {
  content: "\4b";
}
.icon-cancelar3:before {
  content: "\4c";
}
.icon-notificacion:before {
  content: "\4d";
}
.icon-atras-1:before {
  content: "\4e";
}
.icon-lapiz:before {
  content: "\4f";
}
.icon-pluma:before {
  content: "\50";
}
.icon-bulb2:before {
  content: "\51";
}
.icon-cancelado:before {
  content: "\52";
}
.icon-menu2:before {
  content: "\53";
}
.icon-star:before {
  content: "\54";
}
.icon-chat:before {
  content: "\55";
}
.icon-login:before {
  content: "\75";
}
.icon-facebook:before {
  content: "\56";
}
.icon-login-2:before {
  content: "\57";
}
.icon-activo:before {
  content: "\58";
}
.icon-inactivo:before {
  content: "\59";
}
.icon-ubicacion:before {
  content: "\5a";
}
.icon-negocio:before {
  content: "\30";
}
.icon-sexo:before {
  content: "\31";
}
.icon-celular:before {
  content: "\32";
}
.icon-date:before {
  content: "\33";
}
.icon-ubicacion-1:before {
  content: "\34";
}
.icon-sitemap:before {
  content: "\35";
}
.icon-file:before {
  content: "\37";
}
.icon-link:before {
  content: "\38";
}
.icon-css:before {
  content: "\39";
}
.icon-character:before {
  content: "\21";
}
.icon-html5:before {
  content: "\23";
}
.icon-angular:before {
  content: "\24";
}
.icon-database:before {
  content: "\22";
}
.icon-folder:before {
  content: "\25";
}
.icon-alerta2:before {
  content: "\36";
}
.icon-design:before {
  content: "\26";
}
.icon-menu24:before {
  content: "\49";
}
.icon-cerrar:before {
  content: "\27";
}
.icon-image:before {
  content: "\28";
}
.icon-add:before {
  content: "\29";
}
.icon-lista1:before {
  content: "\2a";
}
.icon-key:before {
  content: "\2b";
}
.icon-administracion:before {
  content: "\2c";
}
.icon-minus:before {
  content: "\2d";
}
.icon-bulb:before {
  content: "\2e";
}
.icon-users:before {
  content: "\2f";
}
.icon-precio:before {
  content: "\3a";
}
.icon-list-1:before {
  content: "\3b";
}
.icon-file-pdf:before {
  content: "\3c";
}
.icon-file-image:before {
  content: "\3d";
}
.icon-pdf:before {
  content: "\3e";
}
.icon-download:before {
  content: "\3f";
}
.icon-agregar-producto:before {
  content: "\40";
}
.icon-new-sign:before {
  content: "\5b";
}
.icon-settings:before {
  content: "\5d";
}
.icon-list-add:before {
  content: "\5e";
}
.icon-retweet:before {
  content: "\5f";
}
.icon-plus-square:before {
  content: "\60";
}
.icon-minus-square:before {
  content: "\7b";
}
.icon-question:before {
  content: "\7c";
}
.icon-information-black:before {
  content: "\7d";
}
.icon-comments-o:before {
  content: "\7e";
}
.icon-commenting-o:before {
  content: "\5c";
}
.icon-heart:before {
  content: "\e000";
}
.icon-chat-alt-fill:before {
  content: "\e001";
}
.icon-trash-can:before {
  content: "\e002";
}
.icon-android-print:before {
  content: "\e003";
}
.icon-puzzle-piece:before {
  content: "\e004";
}
.icon-eye:before {
  content: "\e005";
}
.icon-eye-slash:before {
  content: "\e006";
}
.icon-suitcase:before {
  content: "\e007";
}
.icon-user-secret:before {
  content: "\e008";
}
.icon-chart-bar:before {
  content: "\e009";
}
.icon-chart:before {
  content: "\e00a";
}
.icon-exclamation:before {
  content: "\e00b";
}
.icon-buscar:before {
  content: "\e00c";
}
.icon-plus:before {
  content: "\e00d";
}
.icon-feed-rss-2:before {
  content: "\e00e";
}
