title {{dato.AOBJ_Datos_Usuario[0].Nombre_Usuario}} | Cotizaci&oacute;n
link(rel="stylesheet" href!="<?php echo URL;?>public/css/Templates/Administracion/Modulo_Cotizacion/Modulo_Cotizacion.css")
//sesion Estructura
main#CONT_Principal_Modulo_Gestion_De_Contenido.Grid_Contenedor
	#CONT_Contenedor_Invisible_Header
	.Grid_Contenedor.Base-100.abcenter.CL_CONT_Principal_Cotizacion(ng-controller="Controlador_Consultar_Usuarios")
		.Grid_Contenedor.Base-90.CL_CONT_Tablero_Cotizacion(ng-init="Listar_Usuarios()")
			.Grid_Contenedor.Base-30.cross_start.CL_CONT_Cotizacion_Usuarios
				.CL_Cabezera_Cotizacion.Grid_Contenedor.Base-100
					.Grid_Item.Base-20
						img.CL_Imagen_Icono_2(ng-src="{{dato.AOBJ_Datos_Usuario[0].Imagen_Usuario}}")
				.Grid_Contenedor.CL_CONT_Buscador_Usuarios.abcenter
					.Grid_Contenedor.abcenter.Base-90
						.CL_Contenedor_Buscador(ng-init="Buscar_Usuario")
							input.CL_Buscar#Buscar_Usuario(maxlength="15",type="search", name="Buscar_Usuario" placeholder="Buscar usuario" ng-model="Buscar_Usuario")
							label.icon-buscar.CL_Icono_Buscar(for="Buscar_Usuario")
				.Grid_Contenedor.Base-100.cross_start.CL_CONT_Usuarios
					.Grid-Total.abcenter.Grid_Contenedor.CL_Alerta_5
						p.icon-retweet.CL_TXT_Enlace_4(title="Actualizar la lista de productos actuales",ng-click="Listar_Usuarios()")
					.Grid_Contenedor.Base-90.CL_Informacion_Usuario.cross_start.ng_repeat_anim1(ng-click="FN_Listar_Ordenes_Usuario($index,1)",ng-repeat="Datos_Usuario in AOBJ_Lista_Usuarios_Registrados | filter:Buscar_Usuario:Datos_Usuario.Nombre_Usuario")
						.Grid_Item.Base-30.CL_Informacion_Imagen
							img.CL_Imagen_Icono_1(ng-src="{{Datos_Usuario.Imagen_Usuario}}")
						.Grid_Item.Base-70.CL_Informacion_Datos
							.Grid_Contenedor.justify
								.CL_TXT_Texto_3.Grid_Item.Base-40 {{Datos_Usuario.Nombre_Usuario}}
								.CL_TXT_Texto_1.Grid_Item.Base-30 {{Datos_Usuario.Disponibilidad}}
							.CL_TXT_Texto_1 {{Datos_Usuario.Correo_Electronico}}

					.CL_Alerta_5.ng_repeat_anim1.Grid_Contenedor(ng-show="(AOBJ_Lista_Usuarios_Registrados |filter:Buscar_Usuario:Datos_Usuario.Nombre_Usuario).length == 0")
						.CL_TXT_Texto_3.Base-100.abcenter.Grid_Contenedor
							p Usuario no encontrado
			.Grid_Contenedor.Base-70.cross_start.CL_CONT_Cotizacion_Tablero_Cotizaciones
				.CL_Cabezera_Cotizacion.Grid_Contenedor.Base-100
					
					.Grid_Item.Base-100.Grid_Contenedor.abcenter
						.CL_TXT_Texto_4 Ordenes enviadas
				.Grid_Contenedor.abcenter
					.Grid_Contenedor.Base-95(ng-if="Ver_Ordenes == true")
						.CL_Alerta_5.Grid_Contenedor
							.Grid_Item.Base-20
								img.CL_Imagen_Icono_1(ng-src="{{AOBJ_Lista_Usuarios_Registrados[Posicion_Usuario_Lista].Imagen_Usuario}}")
							.Grid_Item.Base-40.Grid_Contenedor.abcenter
								.CL_TXT_Texto_4 {{AOBJ_Lista_Usuarios_Registrados[Posicion_Usuario_Lista].Nombre_Usuario}}
							.Grid_Item.Base-40.relative
								p.CL_Eliminar_1_1(ng-click="FN_Ocultar_Lista_Ordenes()")
						.Tabla_Estilo_1
							table
								thead
									tr
										th.CL_TXT_Texto_1 Codigo 
										th.CL_TXT_Texto_1 Fecha de envio
										th.CL_TXT_Texto_1 Dirrección
										th.CL_TXT_Texto_1 Telefono
										th.CL_TXT_Texto_1 Estado de la orden
										th.CL_Tbl_Icon
								.Grid_Contenedor.abcenter.CON_Paginacion
									.Grid_Contenedor.Base-10
										p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
									.Grid_Contenedor.Base-20
										input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
									
									dir-pagination-controls.Base-45.cross_end.Grid_Contenedor(boundary-links="true")
										p.CL_TXT_Texto_3 {{currentPage}}
										ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
											li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
												a(href="" ng-click="setCurrent(1)") &laquo;
											li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
												a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
											li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
											li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
												a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
											li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
												a(href="" ng-click="setCurrent(pagination.last)") &raquo;		
								tbody
									tr(dir-paginate="Ordenes_Enviadas in AOBJ_Lista_Ordenes_Enviadas | filter:Buscar | itemsPerPage: pageSize" current-page="currentPage")
										
										td.CL_TXT_Texto_1.CL_Imagen {{Ordenes_Enviadas.PK_ID_Cotizacion_Usuario }}
										td.CL_TXT_Texto_1 {{Ordenes_Enviadas.Fecha_Cotizacion}}
										td.CL_TXT_Texto_1 {{Ordenes_Enviadas.Direccion_entrega}}
										td.CL_TXT_Texto_1 {{Ordenes_Enviadas.Telefono_Entrega}}
										
										td
											select.Select_1.Base-100(name="Estado_Orden",value="Estado_Orden",ng-model="Ordenes_Enviadas.Estado_Cotizacion")
												option(value="{{Ordenes_Enviadas.Estado_Cotizacion}}")
													{{Ordenes_Enviadas.Estado_Cotizacion}}
												option(ng-if="Ordenes_Enviadas.Estado_Cotizacion != 'Cancelado'",value="Cancelado") Cancelado
												option(ng-if="Ordenes_Enviadas.Estado_Cotizacion != 'Atendido'",value="Atendido") Atendido
												option(ng-if="Ordenes_Enviadas.Estado_Cotizacion != 'En proceso'",value="En proceso") En proceso
										td.CL_Tbl_Icon
											
											button.icon-actualizar.CL_TXT_Pri_Btn.relative(ng-click="FN_Actualizar_Estado_Orden($index)" value="Actualizar")
												span.CL_TXT_Info_Btn Actualizar
											button.icon-eye.CL_TXT_Pri_Btn.relative(ng-click="FN_Listar_Ordenes_Usuario($index,2)" value="Actualizar")
												span.CL_TXT_Info_Btn Ver detalles
							.CL_Alerta_5.ng_repeat_anim1.Grid_Contenedor(ng-show="(AOBJ_Lista_Ordenes_Enviadas).length == 0")
								.CL_TXT_Texto_3.Base-100.abcenter.Grid_Contenedor
									p No se han encontrado ordenes del usuario


					.Grid_Contenedor.Base-95(ng-if="Ver_Detalle_Orden == true")
						.CL_Alerta_5.Grid_Contenedor
							.Grid_Item.Base-20
								p.Enlace.icon-flecha2.relative.left-10(ng-click="FN_Listar_Ordenes_Usuario(Posicion_Usuario_Lista,1)")
							.Grid_Item.Base-20
								img.CL_Imagen_Icono_1(ng-src="{{AOBJ_Lista_Usuarios_Registrados[Posicion_Usuario_Lista].Imagen_Usuario}}")
							.Grid_Item.Base-40.Grid_Contenedor.abcenter
								.CL_TXT_Texto_4 {{AOBJ_Lista_Usuarios_Registrados[Posicion_Usuario_Lista].Nombre_Usuario}}
							.Grid_Item.Base-20.Grid_Contenedor.abcenter
								p.CL_TXT_Texto_2 Codigo de orden: {{AOBJ_Lista_Ordenes_Enviadas[Posicion_Orden_Lista].PK_ID_Cotizacion_Usuario}}
							.Grid_Item.Base-40.relative
								p.CL_Eliminar_1_1(ng-click="FN_Ocultar_Lista_Ordenes()")

						.Tabla_Estilo_1
							table
								thead
									tr
										th 
										th.CL_TXT_Texto_1 Precio
										th.CL_TXT_Texto_1 Sub total
										th.CL_TXT_Texto_1 Cantidad
								.Grid_Contenedor.abcenter.CON_Paginacion
									.Grid_Contenedor.Base-10
										p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
									.Grid_Contenedor.Base-20
										input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
									
									dir-pagination-controls.Base-45.cross_end.Grid_Contenedor(boundary-links="true")
										p.CL_TXT_Texto_3 {{currentPage}}
										ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
											li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
												a(href="" ng-click="setCurrent(1)") &laquo;
											li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
												a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
											li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
											li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
												a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
											li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
												a(href="" ng-click="setCurrent(pagination.last)") &raquo;		
								tbody
									tr(dir-paginate="Ordenes_Detalle in AOBJ_Lista_Detalles_Ordenes_Enviadas | itemsPerPage: pageSize" current-page="currentPage")
										
										td.CL_Imagen
											img(ng-src="{{Ordenes_Detalle.Ruta_Imagen_Producto}}") 
										td.CL_TXT_Texto_1 {{Ordenes_Detalle.Valor_Unitario | currency}}
										td.CL_TXT_Texto_1 {{Ordenes_Detalle.Sub_Total | currency}}
										td.CL_TXT_Texto_1 {{Ordenes_Detalle.Cantidad_Productos}}
							.CL_Alerta_5.Padding-10 Costo total: {{Num_Total_Orden | currency}}
					.Grid_Contenedor.abcenter(ng-if="Ver_Tablero_Vacio == true")
						.CL_Alerta_5.Padding-10.Grid_Contenedor.abcenter
							p.CL_TXT_Texto_3.icon-bulb2 Selecciona un usuario para ver sus ordenes enviadas																					
