title {{dato.AOBJ_Datos_Usuario[0].Nombre_Usuario}} | Inicio
link(rel="stylesheet" href!="<?php echo URL;?>public/css/Templates/Inicio/Inicio.css")
script(src!="<?php echo URL;?>public/js/Javascript/Pagina/Slider/Slider.js")
| <script>
| document.getElementById("Body_Web_Page").addEventListener("load",MostrarSlider());
|	alert("hola")
| </script>
//css y scrits propios de la pagina
section#SC_Contenido_Pagina(ng-init="BL_Buscador_Productos = true")
	#CONT_Contenedor_Invisible_Header
	//sesion para el slider de la pagína
	main#CONT_Principal
		section#SC_Slider(ng-show="BL_Contenedor_Estado == false"  )
			#CONT_Silder.Grid_Contenedor.abcenter
				#CONT_Imagenes_Slider.Grid_Cotenedor.abcenter.column
					#CONT_Imagenes
						li.CL_Slider_No_Seleccionado.Grid_Contenedor(ng-repeat="SlrLista in dato.AOBJ_Productos_Principal")
							img.Grid_Total(ng-src="{{SlrLista.Ruta_Imagen_Producto}}", alt="")
							.CL_Contenedor_Info.Gird_Contenedor.Grid_Item.Base-100
								.CL_Cabezera_Slider.Grid_Total
									img(src="https://dl.dropboxusercontent.com/u/232442887/Allop/img/logo/Icono.png" alt="")
								.CL_Info_Slider.Grid_Total.column
									p.CL_TXT_Nombre_Producto.Grid_Item.Base-100 {{SlrLista.Nombre_Producto}}
									p.CL_TXT_Descripcion.Grid_Item.Base-100 {{SlrLista.Descripcion}}
									.CL_Btns_Slider.Grid_Item.Base-100.Grid_Contenedor.cross_start
										a.Btn_Estilo_1(ng-class="{'Btn_Estilo_1':LisProduct.BL_Estado_Producto, 'Btn_Estilo_2': ! LisProduct.BL_Estado_Producto}" ng-click="LisProduct.BL_Estado_Producto =! LisProduct.BL_Estado_Producto ")
											p.icon-agregar1 Agregar orden
					section#SC_Btns.Grid_Contenedor.abcenter.Invisible.Visible-movil
						li.CL_Btn_No_Seleccionado.Grid_Contenedor.Grid_Item.Base-35.abcenter(ng-click="FN_Pasar_Slider($index +1)" ng-repeat="SlrLista in dato.AOBJ_Productos_Principal")
				#Btns_Slider

					section#Btns_Slider_Opciones.Gri_Contenedor.distributed
						#CONT_After.Grid_Contenedor.Grid_Item.Base-35.abcenter
							#CONT_Btn_Atras(onclick="AtrasSlider()")
								p.icon-atras2
						#CONT_Before.Grid_Contenedor.Grid_Item.Base-35.abcenter
							#CONT_Btn_Siguiente(onclick="SiguienteSlider()")
								p.icon-siguiente2

						li#CONT_Iniciar_Sld.CL_Btn_Tiempo(onclick="IniciarSlider()")
							input.CL_Btn_Tiempo_Input#Play(type="radio" name="Time")
							label#CONT_Radio_Btn_Tiempo.Grid_Contenedor.Grid_Item.Base-35.abcenter(for="Play")
								p.icon-iniciar
						li#CONT_Detener_Sld.CL_Btn_Tiempo(onclick="DetenerSlider()")
							input.CL_Btn_Tiempo_Input#Stop(type="radio" name="Time")
							label#CONT_Radio_Btn_Tiempo.Grid_Contenedor.Grid_Item.Base-35.abcenter(for="Stop")
								p.icon-pause
			#CONT_Arrow
				#CONT_Btn_Pasar_Pagina
					a.CL_Arrow.icon-flecha4(ng-click="BL_Contenedor_Estado =! BL_Contenedor_Estado") 
		section#SC_Contenido(ng-show="BL_Contenedor_Estado == true")
			#CONT_Arrow
				#CONT_Btn_Pasar_Pagina
					a.CL_Arrow.icon-flecha3(ng-click="BL_Contenedor_Estado =! BL_Contenedor_Estado")

			#CONT_Principal

				#CONT_Contenido.Grid_Contenedor.abcenter

					
					#CONT_Productos.Grid_Item.Base-95.distributed(ng-controller="Controlador_Registro_Producto" ng-init="FN_Listar_Productos()")
						#CONT_Buscador_Prouctos.Grid_Contenedor.abcenter(ng-show="BL_Buscador_Productos == true && BL_Ver_Buscador == true")
							.CL_Contenedor_Buscador( ng-init="buscar;BL_Ver_Buscador_Producto = true")
								input.CL_Buscar#BuscarProducto(maxlength="15",type="search", name="buscar" placeholder="Buscar producto" ng-model="buscar")
								label.icon-buscar.CL_Icono_Buscar(for="BuscarProducto")
						.Grid-Total.abcenter.Grid_Contenedor.CL_Alerta_5
							p.icon-retweet.CL_TXT_Enlace_4(title="Actualizar la lista de productos actuales",ng-click="FN_Listar_Productos()")
						#CONT_P_Productos.ng_repeat_amiacion_1.Grid_Contenedor.Base-100.web-90.abcenter(ng-hide="LisProduct.Estado_Producto == 'Inhabilitado'",ng-class="{'CL_Producto_No_Agregado':LisProduct.BL_Estado_Producto, 'CL_Producto_Agregado': ! LisProduct.BL_Estado_Producto}" ng-repeat="LisProduct in dato.AOBJ_Productos_Principal |  filter:buscar:LisProduct.Nombre_Producto ")
							.Grid_Item.Base-100.web-50
								.CL_P_Imagen.Grid_Contenedor.Base-100.abcenter
									img.CL_Imagen_3(ng-src="{{LisProduct.Ruta_Imagen_Producto}}" )
							.Grid_Item.Base-100.web-50
								.CONT_Informacion.Base-100
								
								.Base-100.No_Padding.Padding-tablet
									.ContInfoProducto
										.CL_TXT_Nombre
											p.CL_TXT_NombreTitulo {{LisProduct.Nombre_Producto}}

										.CL_Botones
											.Grid_Contenedor.abcenter(id="Agregar")
												a.icon-orden(ng-class="{'Btn_Estilo_1':LisProduct.BL_Estado_Producto, 'Btn_Estilo_7': ! LisProduct.BL_Estado_Producto}" ng-click="LisProduct.BL_Estado_Producto =! LisProduct.BL_Estado_Producto ; FN_Agregar_Productos(LisProduct.PK_ID_Producto,$index)") {{LisProduct.TXT_Texto_Btn}}
									.Base-100.tablet-100
									.CL_ValoracionProducto.Grid_Contenedor
										.CL_Descripcion_Producto.Grid_Item
											.CL_Alerta_5.Padding-5 Descripci&oacute;n:
											.CL_Alerta_2.Padding-5 
												p.CL_TXT_Texto_2 {{LisProduct.Descripcion_Producto}}
									
									
								.CONT_Informacion.Base-100
									.Base-100.tablet-100
										.CL_ValoracionProducto.Grid_Contenedor.justify
											
											.CL_ContOpiniones.Grid_Item.Grid_Contenedor.abcenter.Base-100.tablet-100.web-30
												.Grid_Item.Grid_Contenedor.abcenter
													.CL_Precio
														p {{LisProduct.Valor_Unitario | currency}}
													.CL_Datos_Valoracion
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star
													.icon-comentarios.Btn_Estilo_5(title="Ver las opiniones de otros usuarios" ng-click="FN_Ver_Comentarios_Producto(LisProduct.PK_ID_Producto)") Ver comentarios
											.Grid_Item.Base-100.tablet-100.web-50.Grid_Contenedor.No.Padding
												.CL_TotalProducto.CL_Alerta_5.Padding-5.Grid_Contenedor
													p.CL_TXT_Texto_3 Subtotal:
													input.CL_INPUT_Total( type="text" placeholder="total" value="{{LisProduct.NUM_Total_Producto + '$'}}" disabled)
												.CL_Opciones_Herramienta
													.CL_Cantidad_Productos.Grid_Contenedor
														.CL_Datos.Grid_Contenedor.abcenter

															input#ID_INPUT_Cantidad(type="number" min="{{LisProduct.Cant_Unid_Min}}" max="{{LisProduct.Cant_Unid_Max}}"  value="0"  ng-model="LisProduct.NUM_Cantidad" ng-click="FN_Actualizar_Datos(1,LisProduct.PK_ID_Producto)",required)
														

													
								
						.CL_Alerta_5.ng_repeat_anim1.Grid_Contenedor.abcenter(ng-show="(dato.AOBJ_Productos_Principal |filter:buscar:LisProduct.Nombre_Producto).length == 0")
							
							.CONT_Figura.Padding-5.Invisible
								span.Invisible
								span.Invisible
								span.Invisible
								span.Invisible
							.CL_TXT_Texto_3.Grid_Contenedor.abcenter.CL_TXT_Texto_5 No se han encontrado productos
						.Grid-Total.abcenter.Grid_Contenedor.CL_Alerta_5
							p.icon-retweet.CL_TXT_Enlace_4(title="Actualizar la lista de productos actuales",ng-click="FN_Listar_Productos()")						
						
