@include desde(tablet) {
	.CL_Tamano_Dtll {
		width: 450px !important;
	}
	.CL_Tamano_Chat
	{
		width: 400px !important;
	}
	#CONT_Mensajes {
		width: 400px;
	}
	.CL_Envio_Mensaje
	{
		height: 10%;
	}

}
