section.SC_Mensajes_Validaciones
	.Grid_Contenedor.CL_CONT_Alertas.cross_end(ng-show="(dato.AOBJ_Mensaje_Alerta).length > 0")
		.Grid_Item.ng_show(ng-show="Alertas.Visibilidad_Alerta == true",ng-repeat="Alertas in dato.AOBJ_Mensaje_Alerta" )
			.CL_Mensaje_Alerta.main_start.Grid_Contenedor.relative(ng-class="{Negro: Alertas.Tipo_Mensaje_Alerta == 'Negro',Blanco: Alertas.Tipo_Mensaje_Alerta == 'Blanco',Finalizado: Alertas.Tipo_Mensaje_Alerta == 'Finalizado',Alerta: Alertas.Tipo_Mensaje_Alerta == 'Alerta',Info: Alertas.Tipo_Mensaje_Alerta == 'Info',Error: Alertas.Tipo_Mensaje_Alerta == 'Error'}")
				//- ng-show="dato.EstadoMensaje == true"
				.CL_Titulo_Alerta.Base-20.abcenter.cross_start.Grid_Item
					p 
						img(ng-src="{{dato.AOBJ_Datos_Usuario[0].Imagen_Usuario}}")
					
				.CL_Mensaje_Alert.Grid_Contenedor.abcenter.cross_start.Base-80.Grid_Item
					.CL_TXT_Mensaje_Alerta.Grid_Contenedor
						.Grid_Item.Base-5.Grid_Contenedor.abcenter
							p.Icono_Alerta
						.Grid_Item.Base-80
							span 
								p {{Alertas.Mensaje_Alerta}}
				a.CL_Eliminar_6_6.CL_Cerrar(ng-click="dato.FN_Cerrar_Mensaje_En_Especifico($index)")
//SECCION CONFIRMACIONES					
section#SC_Confirmaciones
	#CONT_Confirmacion(ng-show="BL_Ver_Confirmacion == true")
		#CONT_Invisible(ng-click="BL_Ver_Confirmacion =! BL_Ver_Confirmacion")
			.CL_Cerrar_Modal

		#CONT_Datos
			#COT_Confirmacion_Campos
				p.CL_TXT_Titulo_Confirmacion {{TXT_Texto_Confirmacion}}
				.CL_Btns_Confirmacion
					.Btn_Estilo_1.icon-agregar3(ng-click="FN_Confirmacion_Alerta(NUM_Tipo_Funcion,NUM_Eliminar_Posicion,true,' ')") Confirmar
					.Btn_Estilo_5.icon-cancelar3(ng-click="BL_Ver_Confirmacion =! BL_Ver_Confirmacion") Cancelar

footer#CONT_Footer


	//***********************************Javascript_Normal*******************
	script(language="javascript",src!="<?php echo URL; ?>public/js/Javascript/Loading/Loading.js")
	//***************************************Angular.js******************
	//*******************************Modelo*************************
	script(language="javascript",src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Modulos/Fabrica.js")

	//*******************************Controladores*************************
	//Angular pagina inicio
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Controlador_Principal.js")
	//Angular pagina inicio
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Registrar_Controlador.js")
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Administracion/Registrar_Usuario_Controlador.js")

	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Administracion/Consultar_Usuario.js")
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Administracion/Controlador_Producto.js")
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Administracion/Modulo_Categoria.js")
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Administracion/Modulo_Promociones.js")
	script(language="javascript",src!="<?php echo URL; ?>public/js/Angular/Controladores/Administracion/Controlador_Ejemplo_Crud.js")
	script(language="javascript",src!="<?php echo URL; ?>public/js/Javascript/Socket/fancywebsocket.js")



	




</section>
<body/>
<html/>
