title {{dato.AOBJ_Datos_Usuario[0].Nombre_Usuario}} | Gestion de permisos de los usuarios
link(rel="stylesheet" href!="<?php echo URL;?>public/css/Templates/Administracion/Modulo_Permisos_Usuario/Modulo_Permisos_Usuario.css")
//sesion Estructura

section#SC_Modulo_Permisos_Usuario
	main#CONT_Modulo_Permisos_Usuario(ng-init="FN_Listar_Modulo_Permisos_Usuario(1);FN_Listar_Roles_Usuarios()")
		#CONT_Contenedor_Invisible_Header
		.Grid_Contenedor.Base-100(ng-init="BL_Vistas = 1")
			
		.Tablero_Trabajo_1		
			.Grid_Contenedor.Base-100.abcenter.CL_CONT_Principal_Tablero_Trabajo()
				.Grid_Contenedor.Base-90.CL_CONT_Tablero_Trabajo()
					.Grid_Contenedor.Base-30.cross_start.CL_CONT_Tablero
						.CL_Cabezera_Tablero_Trabajo.Grid_Contenedor.Base-100
							.Grid_Item.Base-20
								img.CL_Imagen_Icono_2(ng-src="{{dato.AOBJ_Datos_Usuario[0].Imagen_Usuario}}")
						.Grid_Contenedor.Base-100.cross_start.CL_CONT_Tablero_Trabajo_1
							.Grid_Contenedor.Base-90.CL_Informacion_Tablero_1.cross_start
								

								.Grid_Contenedor.Base-100
									.CL_TXT_Texto_4.Grid_Contenedor.abcenter Registrar nueva vista
									form.Grid_Contenedor.column.abcenter.Base-100(name="Registro_Vista_Administrador",ng-submit="FN_Registrar_Permiso_Usuario(PM)")
										label.CL_TXT_Texto_3 Tipo usuario
										select.Select_1.Base-100.Grid_Item(ng-model="PM.FK_ID_Rol")
											option(ng-repeat="Rol in AOBJ_Lista_Roles",value="{{Rol.PK_ID_Rol}}") {{Rol.Nombre_Rol}}

										label.CL_TXT_Texto_3 Nombre vista
										input.Input_Estilo_1(required,maxlength="20",minlength="5",type="text" name="Nombre_Vista",ng-model="PM.Nombre_Vista")
										//Mensaje de validacion
										div#CONT_Mensaje_Validacion(ng-show="!Registro_Vista_Administrador.Nombre_Vista.$valid && !Registro_Vista_Administrador.$pristine && !Registro_Vista_Administrador.Nombre_Vista.$error.required")
											p.icon-alerta1 La cantidad de caracteres es muy corta
										label.CL_TXT_Texto_3 Url vista
										textarea.Textarea_Estilo_1(required,maxlength="150",minlength="5",type="text" name="Url_Vista" ng-model="PM.Url_Vista")
										//Mensaje de validacion
										div#CONT_Mensaje_Validacion(ng-show="!Registro_Vista_Administrador.Url_Vista.$valid && !Registro_Vista_Administrador.$pristine && !Registro_Vista_Administrador.Url_Vista.$error.required")
											p.icon-alerta1 La cantidad de caracteres es muy corta
										.Grid_Contenedor.justify
											input.Btn_Estilo_1(ng-disabled="!Registro_Vista_Administrador.$valid ",type="submit" value="Registrar vista")
											button.Btn_Estilo_5(ng-click="PM.Url_Vista  = ''; PM.Nombre_Vista = '' ") Limpiar
								
									
							//Por si se usa un filtro
							.CL_Alerta_5.ng_repeat_anim1.Grid_Contenedor(ng-show="(Lista_Datos_Ejemplo |filter:Buscar:Item).length == 0")
								.CL_TXT_Texto_3.Base-100.abcenter.Grid_Contenedor
									p Dato no encontrado
					.Grid_Contenedor.Base-70.cross_start.CL_CONT_Tablero_Trabajo_2
						.CL_Cabezera_Tablero_Trabajo.Grid_Contenedor.Base-100
							
							.Grid_Item.Base-100.Grid_Contenedor.abcenter
								.CL_TXT_Texto_4 Gestion de permisos para usuarios
						.Grid_Contenedor.abcenter
							.Grid_Contenedor.Base-95
								.CL_Alerta_5.Grid_Contenedor
									
									.Grid_Item.Base-30.Grid_Contenedor.abcenter
										.CL_TXT_Texto_3 Vistas registradas
									.Base-30.abcenter.Grid_Contenedor
										.CL_Contenedor_Buscador
											input.CL_Buscar#BuscarPermiso(type="text", name="" placeholder="Buscar permiso" ng-model="Buscar")
											label.icon-buscar.CL_Icono_Buscar(for="BuscarPermiso")
									.Gri_Item.Base-30
										select.Select_1()
											option(ng-click="FN_Listar_Modulo_Permisos_Usuario(Rol.PK_ID_Rol)",ng-repeat="Rol in AOBJ_Lista_Roles",value="{{Rol.PK_ID_Rol}}") Vistas {{Rol.Nombre_Rol}} 
									
								.Grid_Contenedor
									.Grid_Contenedor.Base-100.CL_Tabla_Permisos
										.Tabla_Estilo_2
											table
												thead
													tr

														th Codigo
														th Nombre vista
														th Url vista
														th 
														th 
												.Grid_Contenedor.abcenter.CON_Paginacion
													.Grid_Contenedor.Base-10
														p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
													.Grid_Contenedor.Base-20
														input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
													
													dir-pagination-controls.Base-45.cross_end.Grid_Contenedor(boundary-links="true")
														p.CL_TXT_Texto_3 {{currentPage}}
														ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
															li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
																a(href="" ng-click="setCurrent(1)") &laquo;
															li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
																a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
															li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
															li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
																a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
															li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
																a(href="" ng-click="setCurrent(pagination.last)") &raquo;		
												tbody(ng-init="BL_Edicion_Datos = false")
													tr(dir-paginate="Permisos in AOBJ_Lista_Permisos_Usuario | filter:Buscar | itemsPerPage: pageSize" current-page="currentPage")
														th
															{{Permisos.PK_ID_Vista}}
														th
															input.Input_Estilo_1(type="text" ng-model="Permisos.Nombre_Vista",ng-disabled="BL_Edicion_Datos == false")
														th.CL_Tam_Texarea
															textarea.Textarea_Estilo_1( ng-model="Permisos.Url_Vista",ng-disabled="BL_Edicion_Datos == false")
														th.CL_Tbl_Icon
															.icon-lapiz.CL_TXT_Pri_Btn.relative(ng-click="BL_Edicion_Datos = true",ng-class="{Invisible:BL_Edicion_Datos == true, Visible: BL_Edicion_Datos == false}")
																span.CL_TXT_Info_Btn Editar
															.icon-actualizar.CL_TXT_Pri_Btn.relative(ng-click="FN_Modificar_Permiso_Usuario($index);BL_Edicion_Datos = false",ng-class="{Invisible:BL_Edicion_Datos == false, Visible: BL_Edicion_Datos == true}")
																span.CL_TXT_Info_Btn Actualizar

														th.CL_Tbl_Icon
															.icon-cancelar2.CL_TXT_Pri_Btn.relative(ng-click="FN_Confirmacion_Alerta(6,$index,false,'¿Esta seguro de eliminar el permiso?')")
																span.CL_TXT_Info_Btn Eliminar
										.CL_Alerta_5.ng_repeat_anim1.Grid_Contenedor(ng-show="(AOBJ_Lista_Permisos_Usuario |filter:Buscar:Permisos.Nombre_Vista).length == 0")
											.CL_TXT_Texto_3.Base-100.abcenter.Grid_Contenedor
												p Permiso no encontrada
									
								
		