title {{dato.AOBJ_Datos_Usuario[0].Nombre_Usuario}} | Registro de usuario
link(rel="stylesheet" href!="<?php echo URL;?>public/css/Templates/Administracion/Registrar_Usuario_Nuevo/Registrar_Usuario_Nuevo.css")
section#SC_Contenido_Pagina
	main#CONT_Reg_Contenido_Pagina
		#CONT_Contenedor_Invisible_Header
		#CONT_Registro(ng-controller="Controlador_Registro_Usuario_Administracion")
			
				

			form#FORM_Registro.Grid_Contenedor.main_start(name="Form_Registro_Cliente" ng-submit="Registrar(RN)"  )
				.Grid_Contenedor
					.Grid_Total
						p.CL_Alerta_5.Padding-10 Seleccione el tipo de usuario que desea registrar
					.Grid_Total 
						select.Select_1.Base-30(ng-model="RN.Tipo_Registro",name="Tipo_Registro",value="Cliente",ng-init="Registro_Cliente = false;BL_Datos_Form_Usuario = false" required)
							option(value="3" ng-click="FN_No_Posee_Empresa(2)") Cliente
							option(value="2" ng-click="FN_No_Posee_Empresa(1);Pregunta_Datos_Empresa = false") Empleado
							option(value="0" ng-click="Registro_Cliente = false;BL_Datos_Form_Usuario = false;Pregunta_Datos_Empresa = false") Ninguno
				p.CL_Alerta_5.Padding-10(ng-show="RN.Tipo_Registro == 2") Creaci&oacute;n de cuenta Empleado
				p.CL_Alerta_5.Padding-10(ng-show="RN.Tipo_Registro == 3") Creaci&oacute;n de cuenta Cliente

				#CONT_R_Pregunta.Grid_Total.CL_Alerta_5.abcenter.column.Padding-10(ng-show="Pregunta_Datos_Empresa == true")
					p ¿El cliente posee algun tipo de negocio o empresa?
					.Grid_Contenedor.Base-80.abcenter
						input#ID_INPUT_Empresa_No.Btn_Radio(ng-model="RN.Posee_Empresa",value="no_poseeo_empresa" name="PoseeEmpresa",type="radio",ng-click="FN_No_Posee_Empresa(1)",required )
						label.RadioBtn_2(for="ID_INPUT_Empresa_No") No

						input#ID_INPUT_Empresa_Si.Btn_Radio(ng-model="RN.Posee_Empresa",value="si_poseeo_empresa",name="PoseeEmpresa",type="radio",ng-click="FN_Si_Posee_Empresa()",required )
						label.RadioBtn_2(for="ID_INPUT_Empresa_Si") Si

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion.CL_Mensaje_Dos(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.PoseeEmpresa.$error.required")
							p.icon-negocio Seleccione una opcion
					
				#CONT_Derecha.Grid_Contenedor.Base-100.distributed.movil-100.tablet-30(ng-show="BL_Datos_Form_Usuario == true")
					.Grid_Contenedor.abcenter
						p.CL_Alerta_5.Padding-5 Datos de la cuenta

						.Grid_Item.Base-100				
							label(for="Nombre_Usuario") Nombre de usuario
							input#Nombre_Usuario.Input_Estilo_1(maxlength="15",minlength="3",name="Nombre_U",type="text" placeholder="Nombre de usuario",ng-model="RN.Nombre_Usuario",required )

							//Mensaje de validacion
							div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Nombre_U.$error.required")
								p.icon-registrarme Ingresa un nombre de usuario
							div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Nombre_U.$valid && !Form_Registro_Cliente.$pristine && !Form_Registro_Cliente.Nombre_U.$error.required ")
									p.icon-login La cantidad de caracteres es muy corta

						.Grid_Item.Base-100

							label(for="Password") Contraseña
							input#Password.Input_Estilo_1(maxlength="15",minlength="7 ",name="Contrasenia",type="password",placeholder="Contraseña",ng-model="RN.Contrasenia",required)

							//Mensaje de validacion
							div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Contrasenia.$error.required")
								p.icon-key Ingresa algun tipo de contraseña
							div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Contrasenia.$valid && !Form_Registro_Cliente.$pristine && !Form_Registro_Cliente.Contrasenia.$error.required ")
									p.icon-login La cantidad de caracteres es muy corta

						.Grid_Item.Base-100
							label(for="Correo") Correo
							input#Correo.Input_Estilo_1(maxlength="30",name="Correo_Electronico",type="email",placeholder="Correo electronico",ng-model="RN.Correo",required)

							//Mensaje de validacion
							div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Correo_Electronico.$error.required")
								p.icon-mensaje Ingresa un correo electronico valido
							div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Correo_Electronico.$pristine && !Form_Registro_Cliente.Correo_Electronico.$valid && !Form_Registro_Cliente.Correo_Electronico.$error.required ")
									p.icon-mensaje El correo ingresado no cumple con las caracteristicas necesarias, ejemplo: stiven3345@hotmail.com
						
					//label(for="PasswordConfirmacion") Confirmar contraseña
					//input#PasswordConfirmacion.Input_Estilo_1(type="password" placeholder="Confirmar contraseña" ng-model="RN.PasswordConfirmacion")
				.Grid_Contenedor.cross_start.distributed.Base-100.tablet-70
					#CONT_Izquierda.Grid_Item.Base-100.tablet-40(ng-show="BL_Datos_Form_Usuario == true")
						p.CL_Alerta_5.Padding-5 Datos personales del usuario 
						label(for="Nombre") Primer Nombre
						input#Nombre.Input_Estilo_1(maxlength="15",minlength="5 ",name="Nombre_Persona",type="text",placeholder="Nombre",ng-model="RN.Nombre",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Nombre_Persona.$error.required")
							p.icon-registrarme Ingresa un nombre
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Nombre_Persona.$valid && !Form_Registro_Cliente.$pristine && !Form_Registro_Cliente.Nombre_Persona.$error.required ")
									p.icon-login La cantidad de caracteres es muy corta

						

						label(for="Apellido") Primer Apellido
						input#Apellido.Input_Estilo_1(maxlength="15",minlength="5 ",name="Apellido",type="text",placeholder="Apellido",ng-model="RN.Apellido",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Apellido.$error.required")
							p.icon-registrarme Ingresa tu apellido
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Apellido.$valid && !Form_Registro_Cliente.$pristine && !Form_Registro_Cliente.Apellido.$error.required ")
									p.icon-login La cantidad de caracteres es muy corta

						label(for="Fecha_Nacimiento") Fecha de nacimiento
						input#Fecha_Nacimiento.Input_Estilo_1(name="Fecha_Nacimiento",type="date", placeholder="año/mes/día",ng-model="RN.Fecha_Nacimiento",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Fecha_Nacimiento.$error.required")
							p.icon-date Ingresa tu fecha de nacimiento

						label Sexo
						section#SC_Genero
							input#ID_INPUT_Hombre.Btn_Radio( name="Genero",type="radio",ng-model="RN.Genero",value="Hombre",required)
							label.RadioBtn_1(for="ID_INPUT_Hombre") Hombre
							input#ID_INPUT_Mujer.Btn_Radio( name="Genero",type="radio",ng-model="RN.Genero",value="Mujer",required )
							label.RadioBtn_1(for="ID_INPUT_Mujer") Mujer
							input#ID_INPUT_Indefinido.Btn_Radio(name="Genero",type="radio",ng-model="RN.Genero",value="Indefinido",required)
							label.RadioBtn_1(for="ID_INPUT_Indefinido") Indefinido

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Genero.$error.required")
							p.icon-sexo Selecciona un genero
						
					
					#CONT_Derecha.Grid_Item.Base-100.tablet-40(ng-show="BL_Datos_Form_Usuario == true")
						p.CL_Alerta_5.Padding-5 Datos personales del usuario
						label(for="Segundo_Nombre") Segundo Nombre
						input#Segundo_Nombre.Input_Estilo_1(maxlength="15",minlength="5",name="Segundo_Nombre",type="text" placeholder="Segundo Nombre",ng-model="RN.Segundo_Nombre")

						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Segundo_Nombre.$valid && !Form_Registro_Cliente.$pristine ")
									p.icon-login La cantidad de caracteres es muy corta
						label(for="Segundo_Apellido") Segundo Apellido
						input#Segundo_Apellido.Input_Estilo_1(maxlength="15",minlength="7 ",name="Segundo_Apellido",type="text" placeholder="Segundo Apellido",ng-model="RN.Segundo_Apellido")
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Segundo_Apellido.$valid && !Form_Registro_Cliente.$pristine ")
									p.icon-login La cantidad de caracteres es muy corta
						
						label Municipio
						select.Select_1(ng-model="RN.Municipio",name="Muncipio",value="RN.Municipio" required)
							option(value="Bello") Bello
							option(value="Medellín" ) Medell&iacute;n
						label(for="ID_Otro_Municipio") O ingresa un municipio
						input#ID_Otro_Municipio.Input_Estilo_1(type="text" placeholder="Otro" ng-model="RN.Municipio" )

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Muncipio.$error.required")
							p.icon-ubicacion-1 Selecciona un municipio
							
						label(for="Celular_Usuario") Numero celular
						input#Celular_Usuario.Input_Estilo_1(max="10",min="10",name="Numero_celular",type="tel" placeholder="Numero celular",ng-model="RN.Celular_Usuario",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Numero_celular.$error.required")
							p.icon-celular Ingrese un numero de celuar/telefono
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.Numero_celular.$valid && !Form_Registro_Cliente.$pristine && !Form_Registro_Cliente.Numero_celular.$error.required ")
									p.icon-login La cantidad de caracteres es muy corta

				


				#CONT_Datos_Empresa.Grid_Contenedor.distributed(ng-show="BL_Datos_Usuario_Empresa == true")
					p.CL_Alerta_5.Padding-5 Datos del negocio o empresa


					#CONT_Izquierda.Grid_Item.Base-100.tablet-40
						label(for="Nombre_Empresa") Nombre de la empresa
						input#Nombre_Empresa.Input_Estilo_1(maxlength="15",name="Nombre_Empresa",type="text",placeholder="Nombre",ng-model="RN.Nombre_Empresa",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Nombre_Empresa.$error.required && BL_Datos_Usuario_Empresa == true")
							p.icon-negocio Seleccione una opcion

						label(for="Direcion_Empresa") Direcci&oacute;n
						input#Direcion_Empresa.Input_Estilo_1(maxlength="25",name="Direccion",type="text",placeholder="Dirección",ng-model="RN.Direcion_Empresa",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Direccion.$error.required && BL_Datos_Usuario_Empresa == true")
							p.icon-negocio Seleccione una opcion
					#CONT_Derecha.Grid_Item.Base-100.tablet-40
						label(for="Telefono_Empresa") Telefono
						input#Telefono_Empresa.Input_Estilo_1(name="Telefono",type="tel",placeholder="Telefono",ng-model="RN.Telefono_Empresa",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Telefono.$error.required && BL_Datos_Usuario_Empresa == true")
							p.icon-negocio Seleccione una opcion

						label(for="NIT") NIT
						input#NIT.Input_Estilo_1(name="Nit",type="text",placeholder="NIT",ng-model="RN.NIT",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Nit.$error.required && BL_Datos_Usuario_Empresa == true")
							p.icon-negocio Seleccione una opcion

						label(for="Nombre_Encargado") Nombre del Encargado
						input#Nombre_Encargado.Input_Estilo_1(maxlength="15",name="Nombre_Encargado",type="text" placeholder="Nombre",ng-model="RN.Nombre_Encargado",required)

						//Mensaje de validacion
						div#CONT_Mensaje_Validacion(ng-show="!Form_Registro_Cliente.$pristine && Form_Registro_Cliente.Nombre_Encargado.$error.required && BL_Datos_Usuario_Empresa == true")
							p.icon-negocio Seleccione una opcion
				#CONT_R_Botones
					
					input.Btn_Estilo_1#submit(type="submit" ng-disabled="!Form_Registro_Cliente.$valid " value="Crear cuenta" )
					a.Btn_Estilo_5(ng-click="FN_Limpiar_Formulario()" ) Limpiar formulario